<h1 class="main-heading">{{trans 'manage-roles.role-management'}}</h1>
<div class="dd nestable col-md-6" id="nestable3">
    <div class="input-box">
        <h3 class="sub-heading">{{trans 'general.roles'}}</h3>
        {{#if needRefresh }}
            {{ role/role-crud-items-component items=items setCurrentEditing=(action 'setCurrentEditing') deleteItem=(action 'deleteItem') }}
        {{else}}
            {{ role/role-crud-items-component items=getItems setCurrentEditing=(action 'setCurrentEditing') deleteItem=(action 'deleteItem') }}
        {{/if}}
    </div>
</div>



<div class="col-md-6 add-edit-menu-item">
    <div class="input-box">
        {{#if currentEditing}}
            <form class="">
                <h3 class="sub-heading">{{trans 'button.edit'}}</h3>
                <div class="form-group">
                    <label for="editName">{{trans 'manage-roles.name'}}</label>
                    <div class="input-group">
                        {{input type="text" value=currentEditing.name class="form-control" placeholder="Role name"}}
                        {{#if currentEditing.name}}<span class="glyphicon glyphicon-ok input-group-addon"></span>{{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="editRole">{{trans 'manage-roles.role'}}</label>
                    <div class="input-group">
                        {{input type="text" value=currentEditing.role class="form-control" placeholder="Item link"}}
                        {{#if currentEditing.role}}<span class="glyphicon glyphicon-ok input-group-addon"></span>{{/if}}
                    </div>
                </div>
                <button class="button green" disabled={{editButtonDisabled}} {{action 'editRole'}}>{{trans 'button.edit'}}</button>
                <button class="button red" {{action 'cancelEdit'}}>{{trans 'button.cancel'}}</button>
            </form>
        {{else}}
            <form class="">
                <h3 class="sub-heading">{{trans 'manage-roles.add-new'}}</h3>
                <div class="form-group">
                    <label for="addInputName">{{trans 'manage-roles.name'}}</label>
                    <div class="input-group">
                        {{input type="text" value=newRoleName class="form-control" placeholder="Role name"}}
                        {{#if newRoleName}}<span class="glyphicon glyphicon-ok input-group-addon"></span>{{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="addInputSlug">{{trans 'manage-roles.title'}}</label>
                    <div class="input-group">
                        {{input type="text" value=newRoleTitle class="form-control" placeholder="Role title"}}
                        {{#if newRoleTitle}}<span class="glyphicon glyphicon-ok input-group-addon"></span>{{/if}}
                    </div>

                </div>
                <button class="button green" disabled={{addButtonDisabled}} {{action 'addRole'}}>{{trans 'button.add'}}</button>
            </form>
        {{/if}}
    </div>
</div>

{{#if isLoading }}
    <<div class="loader-holder">
        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{/if}}