<section class="commissions-and-bonuses-section">
    <h1 class="main-heading">Compesation Summary</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group clearfix">
                {{date-range-picker
                label = 'Select date'
                autoUpdateInput = false
                daysOfWeek  = daysOfWeek
                applyLabel  = "Apply"
                cancelLabel = "Clear"
                fromLabel   = "From"
                toLabel     = "To"
                customRangeLabel = "Custom"
                monthNames = monthNames
                start=startDate
                showDropdowns = true
                ranges = ranges
                alwaysShowCalendars = true
                end=endDate
                applyAction=(action "applyDateChange")
                cancelAction=(action "cancelDateChange")
                }}
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group clearfix">
                <label for="">
                    ABS
                </label>

                {{elements/currency-select onCurrencyChange=(action 'currencyChanged') selectedCurrency=selectedCurrency}}
            </div>
        </div>
    </div>
    <div class="row">

        {{#if noResultsFound}}
            No results found for selected period. <a {{action 'cancelDateChange'}}> Cancel date filter </a>
        {{/if}}

        <div class="chart-holder {{if noResultsFound 'hidden'}}">
            {{#if isLoading }}
                {{inf-loading}}
            {{/if}}

            <div class="col-xs-12 col-sm-4">

                <div class="input-box">
                    <h3 class="sub-heading">Commissions</h3>
                    <div class="form-group clearfix">
                        <h4>Processed earnings</h4>
                        <p>{{totalCommission}} {{selectedCurrency}}</p>
                    </div>
                    <div class="form-group clearfix">
                        <h4>Unprocessed earnings</h4>
                        <p>{{unprocessedCommissions}} {{selectedCurrency}}</p>
                    </div>
                </div>

                <div class="input-box">
                    <h3 class="sub-heading">Bonuses</h3>
                    <div class="form-group clearfix">
                        <h4>Processed earnings</h4>
                        <p>{{totalBonus}} {{selectedCurrency}}</p>
                    </div>
                    <div class="form-group clearfix">
                        <h4>Unprocessed earnings</h4>
                        <p>{{unprocessedBonus}} {{selectedCurrency}}</p>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-8">
                <div id="highchart" style="min-width: 616px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

    {{payment/payment-info-listing-component
    model=model
    maxPages=maxPages
    offset=offset
    hidePayAllButtons=true
    hideAgentFilter=true
    hideDateFilter=true
    title = 'COMISSIONS AND BONUSES REPORTS'
    filterModel=(action 'filterModel')
    searchAgentsAction=(action 'searchAgents')
    startDateFilter=startDate
    endDateFilter=endDate
    }}

</section>