<h1 class="main-heading clearfix">{{trans 'purchase-details.purchase-details'}} <span class="pull-right">
    {{#link-to 'dashboard.agent.users.user-view' class='btn btn-danger'}}
        {{trans 'purchase-details.customer-profile'}}
    {{/link-to}}
</span></h1>

<div class="top-options">
    <div class="row">
        <div class="col-md-6">
            <div class="info-box">
                <h3>Content republic</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <p><strong>{{trans 'purchase-details.first-name'}}</strong></p>
                            <p>{{model.user.firstName}}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'purchase-details.last-name'}}</strong></p>
                            <p>{{model.user.lastName}}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'purchase-details.email'}}</strong></p>
                            {{model.user.email}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <p><strong>{{trans 'purchase-details.order-id'}}</strong></p>
                            <p>{{model.id}}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'purchase-details.date-created'}}</strong></p>
                            <p>{{moment-format model.created_at 'DD/MM/YYYY'}}</p>

                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'purchase-details.country'}}</strong></p>
                            <p>{{model.user.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="iframe-wrapper">
                {{#if model.user.country}}
                    <iframe
                            width="600"
                            height="300"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAZEgHzNOFLO46o_e3G25XkysVBsgYAto &q={{model.user.country}}" allowfullscreen>
                    </iframe>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="purchase-tables">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{trans 'purchase-details.package'}}</th>
                        <th>{{trans 'purchase-details.duration'}}</th>
                        <th>{{trans 'purchase-details.price'}}</th>
                        <th>{{trans 'purchase-details.currency'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each model.items as |item| }}
                        <tr>
                            <td>{{item.product}}</td>
                            <td>{{moment-format item.date_from 'DD/MM/YYYY'}} - {{moment-format ( moment-subtract item.date_to 1 'days') 'DD/MM/YYYY'}}</td>
                            <td>{{number-format item.unit_price 2}}</td>
                            <td>{{currency-for-country model.user.country}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{trans 'purchase-details.article'}}</th>
                        <th>{{trans 'purchase-details.duration'}}</th>
                        <th>{{trans 'purchase-details.price'}}</th>
                        <th>{{trans 'purchase-details.currency'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {{#if model.fee_price}}
                            <td>{{trans 'purchase-details.one-time-account-setup-fee'}}</td>
                            <td>{{ moment-format model.created_at 'DD/MM/YYYY' }} - {{ moment-format (moment-subtract maxDate 1 'days') 'DD/MM/YYYY' }}</td>
                            <td>{{ number-format model.fee_price 2 }}</td>
                            <td>{{ currency-for-country model.user.country }}</td>
                        {{/if}}

                    </tr>
                    <tr>
                        <td>{{trans 'purchase-details.connect'}}</td>
                        <td>{{ moment-format model.created_at 'DD/MM/YYYY'}} - {{ moment-format (moment-subtract maxDate 1 'days') 'DD/MM/YYYY' }}</td>
                        <td>{{ number-format model.connect_price 2}}</td>
                        <td>{{ currency-for-country model.user.country}}</td>
                    </tr>
                    <tr>
                        <td>{{ model.num_of_streams }} {{trans 'purchase-details.stream'}}</td>
                        <td>{{ moment-format model.created_at 'DD/MM/YYYY'}} - {{moment-format (moment-subtract model.stream_date_to 1 'days') 'DD/MM/YYYY'}}</td>
                        <td>{{ number-format (multiply model.stream_price model.num_of_streams) 2}}</td>
                        <td>{{ currency-for-country model.user.country}}</td>
                    </tr>
                    <tr>
                        <td>{{trans 'purchase-details.price-for-remaining'}}</td>
                        <td>{{ moment-format model.created_at 'DD/MM/YYYY' }} - {{ moment-format (moment-add model.created_at model.num_of_remaining_days 'days') 'DD/MM/YYYY'}}</td>
                        <td>{{ number-format (multiply  model.num_of_remaining_days model.price_per_remaining_day) 2 }}</td>
                        <td>{{ currency-for-country model.user.country}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>{{trans 'purchase-details.total'}}</td>
                        <td></td>
                        <td>{{currency-for-country model.user.country}} {{ number-format model.total 2}}</td>
                        <td><span {{ action 'downloadPDF' }}><i class="fa fa-print"></i></span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>