<section class="form-wizard">
    <h1 class="main-heading">Add New Agent</h1>
    <form role="form">
        <div class="row setup-content">
            <div class="col-md-6">
                <h3 class="sub-heading"> Provide new user account details</h3>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Choose type
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{role-picker-component onRoleSelected=(action 'roleSelected') changeset = changeset
                                                property="group" validateProperty=(action 'validateProperty' changeset "group")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Choose superior agent
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{agent-picker-component onAgentSelected=(action 'agentSelected') isValidated = false changeset = changeset
                                                 property="superior" validateProperty=(action 'validateProperty' changeset "superior")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Title
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <select class="form-control" onchange={{ action 'titleChanged'  value="target.value"}}>
                            <option value="-1" disabled selected>Choose title</option>
                            <option value="MR" >Mr.</option>
                            <option value="MRS" >Mrs.</option>
                        </select>
                        {{#if (get changeset.error 'title')}}
                            <ul class="error-list">
                                {{#each (get (get changeset.error 'title') "validation") as |message|}}
                                    <li>{{message}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Agent ID
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="agentId" changeset=changeset type="text"
                                          validateProperty=(action 'validateProperty' changeset "agentId")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">First Name
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="firstName" changeset=changeset type="text"
                                          validateProperty=(action 'validateProperty' changeset "firstName")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Last Name
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="lastName" changeset=changeset type="text"
                                          validateProperty=(action 'validateProperty' changeset "lastName")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Password
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="plainPassword" changeset=changeset type="password"
                                          validateProperty=(action 'validateProperty' changeset "plainPassword")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Repeat Password
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="passwordRepeat" changeset=changeset type="password"
                                          validateProperty=(action 'validateProperty' changeset "passwordRepeat")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Email
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="email" changeset=changeset type="text"
                                          validateProperty=(action 'validateProperty' changeset "email")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Repeat email
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="emailRepeat" changeset=changeset type="text"
                                          validateProperty=(action 'validateProperty' changeset "emailRepeat")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Private Email
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="privateEmail" changeset=changeset type="text"
                                          validateProperty=(action 'validateProperty' changeset "privateEmail")}}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3 class="sub-heading"> Provide new user personal details</h3>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Phone number
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{input type="text" class="form-control" value=model.address.fixedPhone }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Mobile number
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="phone" changeset=addressChangeset type="text"
                                          validateProperty=(action 'validateProperty' addressChangeset "phone")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Street and number
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="streetNumber" changeset=addressChangeset type="text"
                                          validateProperty=(action 'validateProperty' addressChangeset "streetNumber")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Postcode
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{validated-field doNotShowLabel=true property="postcode" changeset=addressChangeset type="text"
                                          validateProperty=(action 'validateProperty' addressChangeset "postcode")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">City
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{input type="text" class="form-control" value=model.address.city }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Country
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{elements.country-select selectedCountry=model.address.country onCountryChange=(action 'changeCountry')}}
                        {{#if (get addressChangeset.error 'country')}}
                            <small>
                                <ul>
                                    {{#each (get (get addressChangeset.error 'country') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            </small>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Language
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{elements.language-select selectedLanguage=model.nationality onLanguageSelected=(action 'updateLanguage')}}
                        {{#if (get changeset.error 'nationality')}}
                            <small>
                                <ul>
                                    {{#each (get (get changeset.error 'nationality') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            </small>
                        {{/if}}
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Date of birth
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{pikaday-input useUTC=true format="MM/DD/YYYY" onSelection=(action 'updateAgentBirthDate') value=model.birthDate}}
                        {{#if (get changeset.error 'birthDate')}}
                            <small>
                                <ul>
                                    {{#each (get (get changeset.error 'birthDate') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            </small>
                        {{/if}}
                    </div>
                </div>

                <h3 class="sub-heading"> Agent bank information</h3>

                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Social security number
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{input type="text" class="form-control" value=model.socialSecurityNumber }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Bank name
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{input type="text" class="form-control" value=model.bankName }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Bank account number or IBAN
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{input type="text" class="form-control" value=model.bankAccountNumber }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Agent Background
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        {{textarea class="form-control" value=model.agentBackground}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Insert agent image
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12 user-img">
                        {{drop-zone keepLocal=true addRemoveLinks=true onAddedFile=(action 'addedFile') }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <button class="btn btn-success pull-right" type="submit" {{action 'saveAgent' changeset }}>Save</button>
                </div>
            </div>
        </div>
    </form>
</section>

