<section class="agent-add">
    <h1 class="main-heading">{{trans 'admin-agent.new.title'}}</h1>
    <form role="form">
        <div class="row setup-content">
            <div class="col-md-6">
                <div class="input-box agent-details">
                    <h3 class="sub-heading">{{trans 'admin-agent.subheading.user-details'}}</h3>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.agent-image'}}
                            <!--<span class="required" aria-required="true"> * </span>-->
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12 user-img">
                            {{dropzone-one-file currentImage=changeset.image autoProcessQueue=false changesetkeepLocal=true addRemoveLinks=true maxFiles=1 onRemovedFile=(action 'removedFile') onAddedFile=(action 'addedFile') }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.type'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{#if isProfileView}}
                                <select class="form-control" disabled>
                                    <option>{{changeset.group.name}}</option>
                                </select>
                            {{else}}
                                {{inf-select
                                        optionLabelKey='name'
                                        content=groups
                                        selected = changeset.group
                                        serchable=true
                                        on-change=(action 'roleSelected')
                                }}
                                {{#if (get changeset.error 'group')}}
                                    <small>
                                        <ul class="error-list">
                                            {{#each (get (get changeset.error 'group') "validation") as |message|}}
                                                <li>{{message}}</li>
                                            {{/each}}
                                        </ul>
                                    </small>
                                {{/if}}
                            {{/if}}

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.superior'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{#if isProfileView}}
                                <select class="form-control" disabled>
                                    <option>{{changeset.superior.email}}</option>
                                </select>
                            {{else}}
                                {{inf-select
                                        optionLabelKey='email'
                                        selected = changeset.superior
                                        on-search = (perform search)
                                        on-change=(action 'agentSelected')
                                }}
                                {{#if (get changeset.error 'superior')}}
                                    <ul class="error-list">
                                        {{#each (get (get changeset.error 'superior') "validation") as |message|}}
                                            <li>{{message}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.title'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{title-select model=changeset on-title-changed=(action 'titleChanged')}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.agent-id'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="agentId" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "agentId")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.first-name'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="firstName" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "firstName")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.last-name'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="lastName" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "lastName")}}
                        </div>
                    </div>

                    {{#if isProfileView}}
                        <div class="form-group clearfix">
                            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.password'}}
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                {{change-password-component}}
                            </div>
                        </div>
                    {{else}}
                        <div class="form-group clearfix">
                            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.password'}}
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                {{validated-field doNotShowLabel=true property="plainPassword" changeset=changeset type="password"
                                                  validateProperty=(action 'validateProperty' changeset "plainPassword")}}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.repeat-password'}}
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                {{validated-field doNotShowLabel=true property="passwordRepeat" changeset=changeset type="password"
                                                  validateProperty=(action 'validateProperty' changeset "passwordRepeat")}}
                            </div>
                        </div>
                    {{/if}}


                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.email'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="email" isDisabled=isEdit changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "email")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.repeat-email'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">

                            {{validated-field doNotShowLabel=true property="emailRepeat" isDisabled=isEdit changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "emailRepeat")}}

                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.private-email'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="privateEmail" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "privateEmail")}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.phone'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{input type="text" class="form-control" value=changeset.address.fixedPhone }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.mobile'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="phone" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "phone")}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-xs-5">{{trans 'admin-agent.label.status'}}</label>
                        <div class="col-md-7 col-xs-7">
                            <!-- Rectangular switch -->
                            <label class="switch">
                                {{input type="checkbox" checked=changeset.enabled change=(action "statusChanged")}}
                                <div class="slider"></div>
                            </label>

                        </div>
                    </div>
                    {{#if isProfileView}}
                        {{agent/notification-setting}}
                    {{/if}}
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-box agent-personal">
                    <h3 class="sub-heading">{{trans 'admin-agent.subheading.personal-details'}}</h3>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.street-number'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="streetNumber" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "streetNumber")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.postcode'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="postcode" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "postcode")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.city'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{validated-field doNotShowLabel=true property="city" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "city")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.country'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{elements/country-select selectedCountry=addressChangeset.country onCountryChange=(action 'changeCountry')}}
                            {{#if (get addressChangeset.error 'country')}}
                                <ul class="error-list">
                                    {{#each (get (get addressChangeset.error 'country') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.language'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{elements/language-select nationality=changeset.nationality onLanguageSelected=(action 'updateLanguage')}}
                            {{#if (get changeset.error 'nationality')}}
                                <ul class="error-list">
                                    {{#each (get (get changeset.error 'nationality') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.birthdate'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{pikaday-input class="form-control" useUTC=true format="MM/DD/YYYY" onSelection=(action 'updateAgentBirthDate') value=changeset.birthDate yearRange="100"}}
                            {{#if (get changeset.error 'birthDate')}}
                                <ul class="error-list">
                                    {{#each (get (get changeset.error 'birthDate') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="input-box agent-bank">

                    <h3 class="sub-heading">{{trans 'admin-agent.subheading.bank-info'}}</h3>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.social-security-num'}}
                            <!--<span class="required" aria-required="true"> * </span>-->
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{input type="text" class="form-control" value=changeset.socialSecurityNumber }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.bank'}}
                            <!--<span class="required" aria-required="true"> * </span>-->
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{input type="text" class="form-control" value=changeset.bankName }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.bank-account-num'}}
                            <!--<span class="required" aria-required="true"> * </span>-->
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{input type="text" class="form-control" value=changeset.bankAccountNumber }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'admin-agent.label.agent-background'}}
                            <!--<span class="required" aria-required="true"> * </span>-->
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            {{textarea class="form-control" value=changeset.agentBackground}}
                        </div>
                    </div>
                </div>
                {{#if isProfileView}}
                    <div class="input-box agent-tree">
                        {{agent/tree-info agent=changeset}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="form-group clearfix">
            <button class="button green pull-right" type="submit" {{action 'saveAgent' changeset }} disabled={{isLoading}}>
                {{#if isLoading }}
                    {{inf-loading}}
                {{else}}
                    {{trans 'button.save'}}
                {{/if}}

            </button>
        </div>
    </form>
</section>

