<div class="col-md-3">
    <div class="input-box">
        <div class="upper-box">
            <div class="info-box-icons">
                {{#link-to viewLink agent.id class="button icon-btn rounded-btn"}}
                    {{fa-icon 'eye'}}
                {{/link-to}}
                <div class="img-holder">
                    {{#if agent.image.webPath }}
                        <img class="img-circle" src="{{agent.image.webPath}}" alt="">
                    {{else}}
                        <img class="img-circle" src="../../assets/images/user-avatar.png" alt="Avatar">
                    {{/if}}
                </div>
                {{#link-to editLink agent.id class="button icon-btn rounded-btn"}}
                    {{fa-icon 'pencil'}}
                {{/link-to}}
            </div>
            <h5>{{agent.fullName}}</h5>
            <span>{{agent.group.name}}</span>
        </div>
        <div class="lower-box">
            <p><span>{{trans "admin-user.label.language"}}</span> <br>
                {{agent.nationality}}
            </p>
            <p><span>{{trans "admin-user.label.email"}}</span> <br>
                {{agent.email}}
            </p>
            <p><span>{{trans "admin-agent.label.status"}}</span> <br>
                {{#if agent.enabled}}
                    {{trans "general.enabled"}}
                {{else}}
                    {{trans "general.not-enabled"}}
                {{/if}}
            </p>
        </div>
    </div>
</div>