<h1 class="main-heading">{{trans 'admin-menu.genealogy.tree.title' }}</h1>

<div class="main-chart-container">
    <div id="chart-container"></div>
    {{#if isLoading }}
        <div class="loader-holder">
            <img src="../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
        </div>
    {{/if}}
    <div class="input-box legend-orgchart">
        <h3 class="sub-heading">{{trans 'general.legend'}}</h3>
        <div class="legend-holder">
            <span class="admin">{{trans 'general.hq'}}</span>
            <span class="ambassador">{{trans 'general.ambassador'}}</span>
            <span class="master-agent">{{trans 'general.master-agent'}}</span>
            <span class="active-agent">{{trans 'general.active-agent'}}</span>
            <span class="referee">{{trans 'general.referee'}}</span>
        </div>
    </div>
</div>

{{#if isLoading }}
    {{inf-loading}}
{{/if}}