<h1 class="main-heading">{{trans 'admin-menu.genealogy.tree.title' }}</h1>

<div class="main-chart-container">
    <div class="form-group clearfix">
        <label class="control-label">
            {{trans 'payment.select-agent'}}
        </label>
            {{inf-select
            optionLabelKey='email'
            on-search = (perform search)
            on-change=(action 'agentFilterSelected')
            selected=agentFilter
            }}
    </div>

    <div id="chart-container"></div>
    {{#if isLoading }}
        <div class="loader-holder">
            <img src="../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
        </div>
    {{/if}}
    <div class="input-box legend-orgchart">
        <h3 class="sub-heading">{{trans 'general.legend'}}</h3>
        <div class="legend-holder">
            <span class="admin">{{trans 'general.hq'}}</span>
            <span class="ambassador">{{trans 'general.ambassador'}}</span>
            <span class="master-agent">{{trans 'general.master-agent'}}</span>
            <span class="active-agent">{{trans 'general.active-agent'}}</span>
            <span class="referee">{{trans 'general.referee'}}</span>
        </div>
    </div>
</div>

{{#bs-modal open=isModalOpen header=false body=false footer=false closedAction=(action 'closedAction')}}
    {{#bs-modal-header}}
        <h4 class="modal-title" id="changePassModal">
            {{trans 'general.delete-user'}}
        </h4>
    {{/bs-modal-header}}
    {{#bs-modal-body}}
        <div class="form-group clearfix">
            {{inf-select
                    optionLabelKey='email'
                    on-search = (perform search)
                    on-change=(action 'agentSelected')
            }}
        </div>
        <div class="form-group clearfix">
            <a {{action "deleteAgent" }} class="button red" type="submit"  disabled="{{isDeleteDisabled}}">
                {{#if isLoading }}
                    {{inf-loading}}
                {{else}}
                    {{trans 'general.delete-user'}}
                {{/if}}
            </a>
        </div>
    {{/bs-modal-body}}
{{/bs-modal}}
