<section class="edit-agent">
    <h1 class="main-heading">{{trans 'admin-agent.edit.title'}}</h1>
    <form role="form">
        <div class="col-md-2 col-sm-6 col-xs-12">
            {{#if model.image.webPath}}
                <img src="{{model.image.webPath}}" alt="{{model.username}}" width="300" height="300">
            {{/if}}
            <div class="user-img">
                <div class="insert-avatar-container text-center" >
                    {{dropzone-one-file keepLocal=true addRemoveLinks=true maxFiles=1 onRemovedFile=(action 'removedFile') onAddedFile=(action 'addedFile') }}
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <h3 class="sub-heading">{{trans 'general.account-info'}}</h3>
            <div class="profile-settings">
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.title'}}</label>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" onchange={{ action 'titleChanged'  value="target.value"}}>
                                {{#if (eq model.title "MR")}} <option value="MR" selected>{{trans 'admin-user.label.mr'}}</option> {{else}} <option value="MR">{{trans 'admin-agent.label.mr'}}</option> {{/if}}
                                {{#if (eq model.title "MRS")}} <option value="MRS" selected>{{trans 'admin-user.label.mrs'}}</option> {{else}} <option value="MRS">{{trans 'admin-agent.label.mrs'}}</option> {{/if}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.first-name'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="firstName" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "firstName")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.last-name'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="lastName" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "lastName")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.email'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="email" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "email")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.phone'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="phone" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "phone")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.language'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{elements/language-select selectedLanguage=model.nationality onLanguageSelected=(action 'updateLanguage')}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.country'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{elements/country-select selectedCountry=model.address.country onCountryChange=(action 'changeCountry')}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.social-security-num'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{input type="text" class="form-control" value=model.socialSecurityNumber }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.bank'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{input type="text" class="form-control" value=model.bankName }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.bank-account-num'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{input type="text" class="form-control" value=model.bankAccountNumber }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.birthdate'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{pikaday-input useUTC=true format="MM/DD/YYYY" onSelection=(action 'updateAgentBirthDate') value=changeset.birthDate}}
                            {{#if (get changeset.error 'birthDate')}}
                                <small>
                                    <ul>
                                        {{#each (get (get changeset.error 'birthDate') "validation") as |message|}}
                                            <li>{{message}}</li>
                                        {{/each}}
                                    </ul>
                                </small>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <h3 class="sub-heading">{{trans 'general.optional-info'}}</h3>
            <div class="profile-settings">
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.address'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="streetNumber" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "streetNumber")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.postcode'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="postcode" changeset=addressChangeset type="text"
                                              validateProperty=(action 'validateProperty' addressChangeset "postcode")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.private-email'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field doNotShowLabel=true property="privateEmail" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "privateEmail")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <h3 class="sub-heading">{{trans 'general.genealogy'}}</h3>
            <div class="profile-settings">
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.agent-id'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{input type="text" class="form-control" value=model.agentId }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.type'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{role-picker-component onRoleSelected=(action 'roleSelected') selectedGroup=model.group
                                                    changeset = changeset property="group" validateProperty=(action 'validateProperty' changeset "group")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.superior'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-8 col-xs-8">
                            {{agent-picker-component selectedAgent=changeset.superior currentEditingAgentId=model.id
                                                     changeset=changeset property="superior"}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.num-of-agents-downline'}}</label>
                        <div class="col-md-8 col-xs-8">
                            <input class="form-control" type="text" placeholder="7 agents">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.customers'}}</label>
                        <div class="col-md-8 col-xs-8">
                            <input class="form-control" type="text" placeholder="15 customers">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-agent.label.customer-orders-sum'}}</label>
                        <div class="col-md-8 col-xs-8">
                            <input class="form-control" type="text" placeholder="43534 CHF">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <button class="btn btn-success pull-right" type="submit" {{action 'editAgent'}}>
                            {{#if isLoading }}
                                <img src="../../assets/images/ring-alt.gif" class="loader" alt=""> {{trans loadingText }}
                            {{else}}
                                {{trans 'button.save'}}
                            {{/if}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>