<h3 class="sub-heading">{{trans 'admin-agent.profile.notification-settings'}}</h3>
<div class="profile-settings">
    <div class="form-group clearfix checkboxes">
        <div class="col-md-12">
            <label for="checkboxes">{{trans 'admin-user.label.notifications-message'}}</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> {{trans 'admin-user.label.new-message'}}
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> {{trans 'admin-user.label.payment'}}
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> {{trans 'admin-user.label.new-agent'}}
            </label>
        </div>
    </div>
</div>