<div class="col-md-6">
    <div class="input-box">
        <div class="upper-box">
            <div class="info-box-icons">
                {{#link-to viewLink model.agent_id class="button icon-btn rounded-btn"}}
                    {{fa-icon 'eye'}}
                {{/link-to}}
                <div class="img-holder">
                    {{#if model.image_webPath }}
                        <img class="img-circle" src="{{model.image_webPath}}" alt="">
                    {{else}}
                        <img class="img-circle" src="../../assets/images/user-avatar.png" alt="Avatar">
                    {{/if}}
                </div>
                {{#if promotion}}
                    <span {{action 'promote' model}} class= "button icon-btn rounded-btn promote">
                        {{fa-icon promotionIcon}}
                    </span>
                {{else}}
                    <span {{action 'demote' model}} class= "button icon-btn rounded-btn demote">
                        {{fa-icon promotionIcon}}
                    </span>
                {{/if}}
            </div>
            <h5><span class="flag flag-{{model.nationality}}"></span><span>{{model.full_name}}</span></h5>
        </div>
        <div class="lower-box">
            <p><span>{{trans 'general.role'}}</span> <br>
                {{model.role_name}}
            </p>
            <p><span>{{trans 'general.email'}}</span> <br>
                {{model.email}}
            </p>

            {{#if promotion}}
                <p><span>{{trans 'general.promotion-suggestion'}}</span> <br>
                    {{#if (eq model.role_name role_codes.role_active_agent)}}
                        {{model.role_name}} {{fa-icon 'long-arrow-right'}} {{role_codes.role_master_agent}} <br>
                        {{trans 'general.agent-has'}} : {{model.active_agents_numb}} {{trans 'general.active-agents'}}
                    {{else}}
                        {{model.role_name}} {{fa-icon 'long-arrow-right'}} {{role_codes.role_active_agent}} <br>
                        {{trans 'general.agent-has'}} : {{model.active_agents_numb}} {{trans 'general.sales'}}
                    {{/if}}
                </p>
            {{else}}
                <p><span>{{trans 'general.demotion-suggestion'}}</span> <br>
                    {{#if (eq model.role_name role_codes.role_active_agent)}}
                        {{model.role_name}} {{fa-icon 'long-arrow-right'}} {{role_codes.role_referee}} <br>
                        {{trans 'general.agent-has'}} : {{model.active_agents_numb}} {{trans 'general.sales'}}
                    {{else}}
                        {{model.role_name}} {{fa-icon 'long-arrow-right'}} {{role_codes.role_active_agent}} <br>
                        {{trans 'general.agent-has'}} : {{model.active_agents_numb}} {{trans 'general.active-agents'}}
                    {{/if}}
                </p>
            {{/if}}
        </div>
    </div>
</div>
{{#bs-modal open=isModalOpen header=false body=false footer=false }}
    {{#bs-modal-header}}
        <h4 class="modal-title" id="chooseNewSuperior">
            {{trans 'general.choose-new-superior'}}
        </h4>
    {{/bs-modal-header}}
    {{#bs-modal-body}}
        <div class="form-group">
            <input class="form-control"
                   type="text"
                   id="text-new-superior"
                   value="Please choose superior agent for referee"
                   disabled>
        </div>
        {{inf-select
                optionLabelKey='email'
                selected = newSuperior
                on-search = (perform search)
                on-change=(action 'agentSelected')
        }}

        <button class="button green" {{ action 'doPromotion' }} disabled={{promoteButtonDisabled}}>Save</button>
    {{/bs-modal-body}}
{{/bs-modal}}

{{#bs-modal open=isSuperiorModalOpen header=false body=false footer=false }}
    {{#bs-modal-header}}
        <h4 class="modal-title" id="chooseNewSuperior">
            {{trans 'general.choose-new-superior'}}
        </h4>

    {{/bs-modal-header}}
    {{#bs-modal-body}}
        <div class="form-group">
            <input class="form-control"
                   type="text"
                   id="text-new-superior"
                   value="You will lose all child agents. Select new Superior for then"
                   disabled>
        </div>
        {{inf-select
                optionLabelKey='name'
                content=groups
                serchable=true
                on-change=(action 'newSuperiorRoleSelected')
        }}
        <button class="button green" {{ action 'doDemotion' }} disabled={{demoteButtonDisabled}}>{{trans 'general.sales'}}{{trans 'button.save'}}</button>
    {{/bs-modal-body}}
{{/bs-modal}}
