<h3 class="sub-heading">{{trans 'admin-agent.profile.genealogy-tree'}}</h3>
{{#if isLoaded}}
    <div class="profile-settings">
        <div class="form-group clearfix">
            <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.agent-id'}}</label>
            <div class="col-md-8 col-xs-8">
                <p>{{agent.agentId}}</p>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.type'}}</label>
            <div class="col-md-8 col-xs-8">
                {{agent.group.name}}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.direct-superior'}}</label>
            <div class="col-md-8 col-xs-8">
                {{agent.superior.fullName}}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.number-of-agents-downline'}}</label>
            <div class="col-md-8 col-xs-8">
                <p>{{info.childCount}}</p>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.customers'}}</label>
            <div class="col-md-8 col-xs-8">
                <p>{{info.usersCount}}</p>
            </div>
        </div>
    </div>
{{else}}
    {{inf-loading}}
{{/if}}
