<section class="agent-view user-view">

    <div class="user-heading">
        <div class="left-side">
            <div class="info">
                <h5>{{user.firstName}}</h5>
                <p>{{user.email}}</p>
            </div>
        </div>
        <div class="right-side">
            {{#link-to editLink user.id class="button red btn-small btn-icon-text"}}
                {{fa-icon 'pencil'}} {{trans "button.edit"}}
            {{/link-to}}
        </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="input-box high clearfix">
            <h3 class="sub-heading">{{fa-icon "user"}} {{trans 'admin-user.label.basic-info'}}</h3>

            <div class="img-holder">
                {{#if user.baseImageUrl }}
                    <img class="img img-responsive" src="{{user.baseImageUrl}}" alt="">
                {{else}}
                    <img src="../../../assets/images/user-avatar.png" alt="">
                {{/if}}
                {{#link-to editLink user.id class="button red icon-btn"}}
                    {{fa-icon "pencil"}}
                {{/link-to}}
            </div>


            <dl class="dl-horizontal">
                <dt>{{trans 'admin-user.label.title'}}</dt>
                <dd>{{user.title}}</dd>
                <dt>{{trans 'admin-user.label.email'}}</dt>
                <dd>{{user.email}}</dd>
                <dt>Username</dt>
                <dd>{{user.username}}</dd>
                <dt>{{trans 'admin-user.label.birthdate'}}</dt>
                <dd>{{print-custom-date user.birthDate true}}</dd>
                <dt>{{trans 'admin-user.label.comment'}}</dt>
                <dd>{{user.comment}}</dd>
                <dt>{{trans 'admin-user.label.status'}}</dt>
                <dd>
                    <div class="mt-action-buttons">
                        <div class="btn-group btn-group-circle">
                            <button  disabled type="button" class="btn {{if user.enabled 'active'}} btn-outline switch-green btn-sm"><span>{{trans 'general.enabled'}}</span></button>
                            <button disabled type="button" class="btn {{unless user.enabled 'active'}} btn-outline switch-red btn-sm"><span>{{trans 'general.disabled'}}</span></button>
                        </div>
                    </div>
                </dd>

                <dt>{{trans 'admin-user.label.admin'}}</dt>
                <dd>
                    <div class="mt-action-buttons">
                        <div class="btn-group btn-group-circle">
                            <button  disabled type="button" class="btn {{if user.isAdmin 'active'}} btn-outline switch-green btn-sm"><span>{{trans 'general.enabled'}}</span></button>
                            <button disabled type="button" class="btn {{unless user.isAdmin 'active'}} btn-outline switch-red btn-sm"><span>{{trans 'general.disabled'}}</span></button>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="input-box clearfix">
            <h3 class="sub-heading">{{fa-icon "address-card"}} {{trans 'admin-user.label.personal-details'}}</h3>

            <dl class="dl-horizontal">
                <dt>{{trans 'admin-user.label.address'}}</dt>
                <dd>{{user.address}}</dd>
                <dt>{{trans 'admin-user.label.postcode'}}</dt>
                <dd>{{user.zip}}</dd>
                <dt>{{trans 'admin-user.label.country'}}</dt>
                <dd>{{user.country}}</dd>
                <dt>{{trans 'admin-user.label.language'}}</dt>
                <dd>{{user.language}}</dd>
                <dt>{{trans 'admin-user.label.phone'}}</dt>
                <dd>{{user.phoneNumber}}</dd>
            </dl>

        </div>

        <div class="input-box referral clearfix">
            <h3 class="sub-heading">{{fa-icon "black-tie"}} {{trans 'admin-user.label.referral-link'}}</h3>

            <dl class="dl-horizontal">
                <dt>{{trans 'admin-user.label.agent-id'}}</dt>
                <dd>
                    {{#if user.agent }}
                        {{user.agent.id}}
                    {{else}}
                        {{trans 'admin-user.label.not-specified'}}
                    {{/if}}
                </dd>
                <dt>{{trans 'admin-user.label.agent-first-name'}}</dt>
                <dd>
                    {{#if user.agent }}
                        {{user.agent.firstName}}
                    {{else}}
                        {{trans 'admin-user.label.not-specified'}}
                    {{/if}}
                </dd>
                <dt>{{trans 'admin-user.label.agent-last-name'}}</dt>
                <dd>
                    {{#if user.agent }}
                        {{user.agent.lastName}}
                    {{else}}
                        {{trans 'admin-user.label.not-specified'}}
                    {{/if}}
                </dd>
                <dt>{{trans 'admin-user.label.agent-email'}}</dt>
                <dd>
                    {{#if user.agent }}
                        {{user.agent.email}}
                    {{else}}
                        {{trans 'admin-user.label.not-specified'}}
                    {{/if}}
                </dd>
            </dl>
        </div>
    </div>
</section>