<section class="user-edit">
    <h1 class="main-heading">{{trans 'admin-user.edit.title'}}</h1>
    <form role="form">
        <div class="row setup-content">
            <div class="col-md-6">
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4" for="title">{{trans 'admin-user.label.title'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        <select class="form-control" onchange={{ action 'titleChanged'  value="target.value"}}>
                            {{#if (eq model.title "MR")}} <option value="MR" selected>Mr.</option> {{else}} <option value="MR">{{trans 'admin-user.label.mr'}}</option> {{/if}}
                            {{#if (eq model.title "MRS")}} <option value="MRS" selected>Mrs.</option> {{else}} <option value="MRS">{{trans 'admin-user.label.mrs'}}</option> {{/if}}
                        </select>
                        {{#if (get changeset.error 'title')}}
                            <ul class="error-list">
                                {{#each (get (get changeset.error 'title') "validation") as |message|}}
                                    <li>{{message}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.name'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{validated-field
                                type="text"
                                changeset=changeset
                                property="firstName"
                                doNotShowLabel=true
                                validateProperty=(action 'validateProperty' changeset "email")
                        }}
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.family-name'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{validated-field
                                type="text"
                                changeset=changeset
                                property="lastName"
                                doNotShowLabel=true
                                validateProperty=(action 'validateProperty' changeset "email")
                        }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.email'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="email" class="form-control" disabled=true value=user.email }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.company'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" value=user.company }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.image'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 user-img">
                        {{#if user.avatar.filePath}}
                            <img style="margin-bottom: 15px;" src="{{user.avatar.filePath}}" alt="{{user.username}}" width="300" height="300">
                        {{/if}}

                        <div class="insert-avatar-container text-center" >
                            {{drop-zone keepLocal=true addRemoveLinks=true onAddedFile=(action 'addedFile') onRemovedFile=(action 'removedFile')}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.street-number'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" value=userStreet }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.city'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="email" class="form-control" value=userCity }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.postcode'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" value=user.zip }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.country'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" disabled=true value=user.country }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.phone'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{!--{{input type="text" class="form-control" value=user.phoneNumber }}--}}
                        {{validated-field
                                type="text"
                                changeset=changeset
                                property="phoneNumber"
                                doNotShowLabel=true
                                validateProperty=(action 'validateProperty' changeset "email")
                        }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.language'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{elements.language-select selectedLanguage=user.language onLanguageSelected=(action 'updateLanguage')}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.birthdate'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{pikaday-input useUTC=true format="MM/DD/YYYY" onSelection=(action 'updateUserBirthDate') value=user.birthDate}}
                        {{#if (get changeset.error 'birthDate')}}
                            <small>
                                <ul>
                                    {{#each (get (get changeset.error 'birthDate') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            </small>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.admin'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8">
                        <div class="onoffswitch">
                            {{input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked=user.isAdmin }}
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.comment'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{textarea class="form-control" name="username" value=user.comment}}
                    </div>
                </div>

                <div class="form-group clearfix text-right">
                    <button class="btn btn-success pull-right" {{action 'saveUser' changeset }}>{{trans 'button.save'}}</button>
                </div>
            </div>
        </div>
    </form>
</section>