<section class="user-edit">
    <h1 class="main-heading">{{trans 'admin-user.edit.title'}}</h1>
    <form role="form">
        <div class="row setup-content">
            <div class="col-md-6">
                <div class="input-box basic-info">
                    <h3 class="sub-heading">
                        {{fa-icon 'user'}} {{trans 'admin-user.label.edit-basic-info'}}
                    </h3>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.image'}}</label>
                        <div class="col-md-8 user-img">
                            {{dropzone-one-file
                                    currentImageWebPath=user.filePath
                                    keepLocal=true
                                    addRemoveLinks=true
                                    maxFiles=1
                                    onRemovedFile=(action 'removedFile')
                                    onAddedFile=(action 'addedFile') }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4" for="title">{{trans 'admin-user.label.title'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" disabled onchange={{ action 'titleChanged'  value="target.value"}}>
                                {{#if (eq user.title "MR")}} <option value="MR" selected>{{trans 'admin-agent.label.mr'}}</option> {{else}} <option value="MR">{{trans 'admin-user.label.mr'}}</option> {{/if}}
                                {{#if (eq user.title "MRS")}} <option value="MRS" selected>{{trans 'admin-agent.label.mrs'}}</option> {{else}} <option value="MRS">{{trans 'admin-user.label.mrs'}}</option> {{/if}}
                            </select>
                            {{#if (get changeset.error 'title')}}
                                <ul class="error-list">
                                    {{#each (get (get changeset.error 'title') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.name'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field
                                    type="text"
                                    changeset=changeset
                                    property="firstName"
                                    doNotShowLabel=true
                                    validateProperty=(action 'validateProperty' changeset "firstName")
                            }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.family-name'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-8 col-xs-8">
                            {{validated-field
                                    type="text"
                                    changeset=changeset
                                    property="lastName"
                                    doNotShowLabel=true
                                    validateProperty=(action 'validateProperty' changeset "lastName")
                            }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.email'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-8 col-xs-8">
                            {{input type="email" class="form-control" disabled=true value=user.email }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.company'}}</label>
                        <div class="col-md-8 col-xs-8">
                            {{input type="text" class="form-control" value=user.company }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="input-box">
                    <h3 class="sub-heading">
                        {{fa-icon "address-book"}} {{trans 'admin-user.label.edit-personal-details'}}
                    </h3>

                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.street-number'}}</label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" value=userStreet }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.city'}}</label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="email" class="form-control" value=userCity }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.postcode'}}</label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" value=user.zip }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.country'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{input type="text" class="form-control" disabled=true value=user.country }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.phone'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{validated-field
                                type="text"
                                changeset=changeset
                                property="phoneNumber"
                                doNotShowLabel=true
                                validateProperty=(action 'validateProperty' changeset "email")
                        }}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.language'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{elements/language-select nationality=user.language onLanguageSelected=(action 'updateLanguage')}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.birthdate'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{pikaday-input class="form-control" useUTC=true format="MM/DD/YYYY" onSelection=(action 'updateUserBirthDate') value=user.birthDate yearRange="100"}}
                        {{#if (get changeset.error 'birthDate')}}
                            <small>
                                <ul class="error-list">
                                    {{#each (get (get changeset.error 'birthDate') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            </small>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.admin'}}
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-8">
                        <div class="mt-action-buttons">
                            <div class="btn-group btn-group-circle">
                                <button {{action "changeIsAdmin" true}} type="button" class="btn {{if user.isAdmin 'active' }} btn-outline switch-green btn-sm"><span>{{trans 'admin-user.label.is-admin'}}</span></button>
                                <button {{action "changeIsAdmin" false}} type="button" class="btn {{unless user.isAdmin 'active' }} btn-outline switch-red btn-sm"><span>{{trans 'admin-user.label.not-admin'}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-4 col-xs-4">{{trans 'admin-user.label.comment'}}
                        <!--<span class="required" aria-required="true"> * </span>-->
                    </label>
                    <div class="col-md-8 col-xs-8">
                        {{textarea class="form-control" name="username" value=user.comment}}
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group clearfix text-right">
                    <button class="button green pull-right" {{action 'saveUser' changeset }}>{{trans 'button.save'}}</button>
                </div>
            </div>
        </div>
    </form>
</section>