<div class="col-lg-3 col-md-6 col-xs-12">
    <div class="input-box">
        <div class="upper-box">
            <div class="img-holder">
                <img src="{{payment.agent.baseImageUrl}}" alt="">
            </div>
            <div class="info-right">
                <h5>{{payment.agent.fullName}}</h5>
                <span>{{payment.agentRole}}</span>
            </div>
            {{!--{{payment.agent.email}}--}}
        </div>
        <div class="lower-box">
            <p><span>{{trans 'payment.created-at'}}</span> <br>
                {{printCustomDate payment.createdAt}}
            </p>
            {{#if payment.payedAt}}
                <p><span>{{trans 'payment.payed-at'}}</span> <br>
                    {{printCustomDate payment.payedAt}}
                </p>
            {{/if}}

            <p><span>{{trans 'payment.type'}}</span> <br>
                {{#if (eq payment.paymentType "COMMISSION_TYPE")}}
                    {{trans 'payment.commission'}}
                {{else}}
                    {{trans 'payment.bonus'}}
                {{/if}}
            </p>

            <p><span>{{trans 'payment.state'}}</span> <br>
                {{#if (eq payment.state null)}}
                    {{trans 'payment.unproccessed'}}
                {{else if (eq payment.state 'true')}}
                    {{trans 'payment.payed'}}
                {{else}}
                    {{trans 'payment.rejected'}}
                {{/if}}
            </p>

            <p><span>{{trans 'payment.amount'}}</span> <br>
                {{payment.totalCommission}} - {{payment.currency}}
            </p>

            <p>
                <span>{{trans 'payment.memo'}}</span>
                {{!--{{#if isEditing}}--}}
                    <span class="pull-right">
                        <span {{action 'saveEdit'}}><i class="fa fa-check"></i></span>
                        <span {{action 'cancelEdit'}}><i class="fa fa-times"></i></span>
                    </span>
                {{!--{{else}}--}}
                    {{!--<span class="pull-right" {{action 'toggleEditing'}}><i class="fa fa-pencil"></i></span>--}}
                {{!--{{/if}}--}}
                <br>

                {{!--{{#if isEditing}}--}}
                    {{#if _isLoading}}
                        {{inf-loading}}
                    {{else}}
                        {{textarea value=newMemo class="form-control"}}
                    {{/if}}
                {{!--{{/if}}--}}

            </p>

            {{#unless hidePayAllButtons}}
                <p class="payment-buttons">
                    {{#if (not-eq payment.state 'true')}}
                        <button class="button green btn-small" {{action 'processPayment' payment}}>{{trans 'payment.pay'}}</button>
                    {{/if}}
                    {{#if (eq payment.state null)}}
                        <button class="button red btn-small" {{action 'rejectPayment' payment}}>{{trans 'payment.reject'}}</button>
                    {{/if}}
                </p>
            {{/unless}}
        </div>
    </div>
</div>