<div class="left-section">
    {{#bs-accordion selected=selected class="panel-group"}}
        <div class="panel panel-default menu-dashboard">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{#link-to 'dashboard.home'}}{{trans 'admin-menu.dashboard.title'}}{{/link-to}}
                </h4>
            </div>
        </div>
        {{admin-menu-items/left-menu-genealogy}}
        {{admin-menu-items/left-menu-users}}
        {{admin-menu-items/left-menu-agents}}
        {{admin-menu-items/left-menu-payments}}
        {{admin-menu-items/left-menu-mass-mail}}
        {{admin-menu-items/left-menu-messages}}
        {{#bs-accordion-item title=(trans "admin-menu.settings.title") class="menu-settings"}}
            <ul class="table">
                <li>
                    {{#link-to 'dashboard.settings.my-settings' }}
                        {{trans 'admin-menu.settings.my-settings'}}
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.settings.manage-user-groups' }}
                        {{trans 'admin-menu.settings.groups'}}
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.settings.manage-roles' }}
                        {{trans 'admin-menu.settings.roles'}}
                    {{/link-to}}
                </li>
            </ul>
        {{/bs-accordion-item}}
    {{/bs-accordion}}
</div>
