<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Content Republic</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" id="nav-icon3">
                    <span ></span>
                    <span ></span>
                    <span ></span>
                    <span ></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {{#bs-dropdown tagName="li"}}
                        {{#bs-dropdown-toggle}}
                            {{#if currentUser.user.image.webPath}}
                                <img src="{{currentUser.user.image.webPath}}" class="img-circle" alt="">
                                {{!--{{currentUser.user.username }}<i class="fa fa-caret-down"></i>--}}
                                {{currentUser.user.firstName }}<i class="fa fa-caret-down"></i>
                            {{else}}
                                <img src="../assets/images/user-avatar.png" class="img-circle" alt="">
                                {{!--{{currentUser.user.username }}<i class="fa fa-caret-down"></i>--}}
                                {{currentUser.user.firstName }}<i class="fa fa-caret-down"></i>
                            {{/if}}
                        {{/bs-dropdown-toggle}}
                        {{#bs-dropdown-menu class="header-user-info"}}
                            <li class="top-section">
                                {{#if currentUser.user.image.webPath}}
                                    <div class="img-holder">
                                        <img src="{{currentUser.user.image.webPath}}" class="img-circle" alt="">
                                    </div>
                                {{else}}
                                    <div class="img-holder">
                                        <img src="../assets/images/user-avatar.png" class="img-circle" alt="">
                                    </div>
                                {{/if}}
                                <div class="info-actions">
                                    {{!--<p>{{currentUser.user.fullName }}</p>--}}
                                    <p>{{currentUser.user.email}}</p>
                                    {{#if isUserAdmin}}
                                        {{#link-to 'dashboard.agents.agent-view' currentUser.user.id class="button green icon-btn" }}
                                            {{trans 'button.view-profile'}}
                                        {{/link-to}}
                                    {{else}}
                                        {{#link-to 'dashboard.agent.agents.agent-view' currentUser.user.id class="button green icon-btn" }}
                                            {{trans 'button.view-profile'}}
                                        {{/link-to}}
                                    {{/if}}
                                </div>
                            </li>
                            <li class="bottom-section">
                                {{#if isUserAdmin}}
                                    {{#link-to 'dashboard.agents.agent-edit' currentUser.user.id class="button red icon-btn" }}
                                        {{trans 'button.edit-profile'}}
                                    {{/link-to}}
                                {{else}}
                                    {{#link-to 'dashboard.agent.profile.profile-settings' class="button red icon-btn" }}
                                        {{trans 'button.edit-profile'}}
                                    {{/link-to}}
                                {{/if}}
                                <a href="#" class="button red icon-btn" {{action 'logout'}}>{{trans 'general.logout'}}</a>
                            </li>
                        {{/bs-dropdown-menu}}
                    {{/bs-dropdown}}
                    {{#bs-dropdown tagName="li"}}
                        {{#bs-dropdown-toggle}}<a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>{{/bs-dropdown-toggle}}
                        {{#bs-dropdown-menu class="header-notifications"}}
                            {{#unless _maxIdAgents}}
                                <li>
                                    <a class="message-item">{{trans "dashboard.labels.no-new-notifications"}}</a>
                                </li>
                            {{else}}
                                {{#each agentNotifications as |notification|}}
                                    <li>
                                        <a class="notification-item {{if notification.isSeen "seen"}}" {{action "transitionTo" notification notification.link}} href="#">
                                            <div class="img-holder">
                                                {{fa-icon "user"}}
                                            </div>
                                            <div class="notification-item-content">
                                                <p>{{notification.type}}</p>
                                                <p>
                                                    {{#if notification.newAgent}}
                                                        {{notification.newAgent.fullName}}
                                                    {{else}}
                                                        {{notification.payment.paymentType}}
                                                    {{/if}}
                                                    {{notification.id}}</p>
                                                <span class="date">{{print-custom-date notification.createdAt}}</span>
                                            </div>
                                        </a>
                                    </li>
                                {{/each}}
                                <li class="view-all-button">
                                    {{#if isUserAdmin}}
                                        <a href="#" {{action "transitionToRoute" "dashboard.notifications.notifications-all"}} class="view-all button green">{{trans "button.view-all"}}</a>
                                    {{else}}
                                        <a href="#" {{action "transitionToRoute" "dashboard.agent.notifications.notifications-all"}} class="view-all button green">{{trans "button.view-all"}}</a>
                                    {{/if}}
                                </li>
                            {{/unless}}
                        {{/bs-dropdown-menu}}
                    {{/bs-dropdown}}
                    {{#bs-dropdown tagName="li"}}
                        {{#bs-dropdown-toggle}}<a href="#"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a>{{/bs-dropdown-toggle}}
                        {{#bs-dropdown-menu class="header-messages"}}
                            {{#unless _maxIdMessage}}
                                <li>
                                    <a class="message-item">{{trans "dashboard.labels.no-new-notifications"}}</a>
                                </li>
                            {{else}}
                                {{#each messageNotifications as |notification|}}
                                    <li>
                                        <a class="message-item {{if notification.isSeen "seen"}}" {{action "transitionTo" notification notification.link}} href="#">
                                            <div class="img-holder">
                                                {{fa-icon "envelope-o"}}
                                            </div>
                                            <div class="message-item-content">
                                                <p>{{notification.type}} <span>{{notification.id}}</span></p>
                                                <span class="date">{{print-custom-date notification.createdAt}}</span>
                                            </div>
                                        </a>
                                    </li>
                                {{/each}}
                                <li class="view-all-button">
                                    {{#if isUserAdmin}}
                                        <a href="#" {{action "transitionToRoute" "dashboard.messages.received-messages"}} class="view-all button green">{{trans "button.view-all"}}</a>
                                    {{else}}
                                        <a href="#" {{action "transitionToRoute" "dashboard.agent.messages.received-messages"}} class="view-all button green">{{trans "button.view-all"}}</a>
                                    {{/if}}
                                </li>
                            {{/unless}}
                        {{/bs-dropdown-menu}}
                    {{/bs-dropdown}}
                    <li>
                        {{invite-people-component tagname="li" sendInvites=(action 'sendInvites') goToRoute = (action 'transitionToRoute')}}
                    </li>
                </ul>
            </div>
        </div>
        <section class="mobile-toggle">
            <a href="#" class="toggle-left-section collapsed">
            </a>
        </section>
    </nav>
</header>