<select class="form-control" onchange={{ action 'agentChanged'  value="target.value"}}>
    <!--<option value="-1" disabled selected>Choose role</option>-->
    {{#each agents as |agent index|}}
        {{#if agent.id}}
            {{#if (eq selectedAgent.id agent.id)}}
                <option  selected value="{{index}}" {{equals }}>{{agent.firstName}} {{agent.lastName}}</option>
            {{else}}
                <option value="{{index}}" {{equals }}>{{agent.firstName}} {{agent.lastName}}</option>
            {{/if}}
        {{/if}}

    {{/each}}
</select>
