<li class="clearfix suspend timeline-inverted">
    <span class="label label-date">{{moment-format history.date 'DD/MM/YYYY'}}</span>
    <div class="timeline-badge info">
        {{fa-icon "clock-o"}}
    </div>
    <div class="timeline-panel bg-info">
        <div class="timeline-heading text-white">

            <h5 class="timeline-title">Suspended</h5>
            {{!--<h5 class="timeline-title">Promoted to <span class="role">{{history.changedTo.name}}</span> from <span class="role">{{history.changedFrom.name}}</span></h5>--}}
        </div>
        <div class="timeline-body text-white">
            <p>
                Sales: <span>{{ history.numbOfSales }}</span>
            </p>
            <p>
                Agents: <span>{{ history.activeAgentsNumb }}</span>
            </p>
            <p>
                <small>changed by <span class="img-holder"><img src="{{ history.changedByAgent.baseImageUrl }}" alt=""></span>
                    {{#link-to "dashboard.agents.agent-view" history.changedByAgent.id }}{{ history.changedByAgent.fullName }}{{/link-to}}
                </small>
            </p>
        </div>
        <span class="panel-icon panel-icon-ban">
            {{fa-icon "ban"}}
        </span>
    </div>
</li>
