<div class=" left-section">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{#link-to 'dashboard-agent.home'}}<i class="fa fa-tachometer"></i> Dashboard{{/link-to}}
                </h4>
            </div>
        </div>
        {{agent-left-menu-genealogy}}
        {{agent-left-menu-users}}
        {{agent-left-menu-tickets}}
        {{agent-left-menu-reports}}
        {{agent-left-menu-wallet}}
        {{agent-left-menu-profile}}
    </div>
</div>
