<div class="left-section">
    <div class="menu-user-info">
        {{#link-to 'dashboard.agent.agents.agent-view' currentUser.user.id class='button icon-btn rounded-btn'}}
            {{fa-icon 'eye'}}
        {{/link-to}}
        {{#if currentUser.user.image.webPath}}
            <div class="img-holder">
                <img src="{{currentUser.user.image.webPath}}" class="img-circle" alt="">
            </div>
        {{else}}
            <div class="img-holder">
                <img src="../assets/images/user-avatar.png" class="img-circle" alt="">
            </div>
        {{/if}}
        {{#link-to 'dashboard.agent.profile.profile-settings' class='button icon-btn rounded-btn'}}
            {{fa-icon 'pencil'}}
        {{/link-to}}
    </div>
    <div class="menu-user-info-bottom">
        <h5>{{currentUser.user.fullName}}</h5>
        <span>{{currentUser.user.group.name}}</span>
    </div>
    {{#bs-accordion selected=selected class="panel-group"}}
        <div class="panel panel-default menu-dashboard">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{#link-to 'dashboard.agent.home'}}{{trans 'agent-menu.dashboard.title' }}{{/link-to}}
                </h4>
            </div>
        </div>
        {{agent-menu-items/agent-left-menu-genealogy}}
        {{agent-menu-items/agent-left-menu-agents}}
        {{agent-menu-items/agent-left-menu-users}}
        {{agent-menu-items/agent-left-menu-tickets}}
        {{agent-menu-items/agent-left-menu-reports}}
        {{agent-menu-items/agent-left-menu-wallet}}
        {{agent-menu-items/agent-left-menu-profile}}
        {{agent-menu-items/agent-left-menu-messages}}
        {{agent-menu-items/agent-left-menu-invite}}

    {{/bs-accordion}}
</div>
