<select class="form-control" onchange={{ action 'agentChanged'  value="target.value"}}>
    <option value="-1" selected >Choose superior agent</option>
    {{#each agentsFiltered as |agent index|}}
        {{#if agent.id}}
            {{#if currentEditingAgentId }}
                {{#if (not-eq agent.id currentEditingAgentId)}}
                    {{#if (eq selectedAgentId agent.id)}}
                        <option  selected value="{{index}}">{{agent.fullName}}</option>
                    {{else}}
                        <option value="{{index}}">{{agent.fullName}}</option>
                    {{/if}}
                {{/if}}
            {{else}}
                <option value="{{index}}">{{agent.fullName}}</option>
            {{/if}}
        {{/if}}
    {{/each}}
</select>

{{#if (get changeset.error property)}}
    <small>
        <ul>
            {{#each (get (get changeset.error property) "validation") as |message|}}
                <li>{{message}}</li>
            {{/each}}
        </ul>
    </small>
{{/if}}
