<div class="agent-view">
    <div class="user-heading">
        <div class="left-side">
            <div class="info">
                <h5>{{agent.fullName}}</h5>
                <p>{{agent.email}}</p>
            </div>
        </div>
        <div class="right-side">
            {{#link-to editLink agent.id class="button red btn-small btn-icon-text"}}
                {{fa-icon 'pencil'}}{{trans 'button.edit'}}
            {{/link-to}}
            {{#if isAdmin}}
                {{#link-to 'dashboard.agents.agent-history' agent.id class="button green btn-small btn-icon-text"}}
                    {{fa-icon 'clock-o'}}{{trans 'admin-agent.history.agent.history'}}
                {{/link-to}}
            {{/if}}

        </div>
    </div>
    <div class="row agent-view-cards">
        <div class="col-md-4">
            <div class="input-box high clearfix">
                <h3 class="sub-heading">{{fa-icon "user"}} {{trans 'admin-user.label.basic-info'}}</h3>
                <h5>{{agent.group.name}}</h5>
                <div class="img-holder">
                    {{#if agent.image.webPath}}
                        <img src="{{agent.image.webPath}}" alt="">
                    {{else}}
                        <img src="../../../assets/images/user-avatar.png" alt="Avatar">
                    {{/if}}
                    {{#link-to editLink agent.id class="button red icon-btn"}}{{fa-icon "pencil"}}{{/link-to}}
                </div>
                <dl class="dl-horizontal basic-info-dl">
                    <dt>{{trans 'admin-user.label.email'}}</dt>
                    <dd>{{agent.email}}</dd>
                    <dt>{{trans 'admin-user.label.username'}}</dt>
                    <dd>{{agent.username}}</dd>
                    <dt>{{trans 'admin-user.label.birthdate'}}</dt>
                    <dd>{{print-custom-date agent.birthDate true}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-box clearfix">
                <h3 class="sub-heading">{{fa-icon "address-card"}} {{trans 'admin-user.label.personal-details'}}</h3>
                <dl class="dl-horizontal">
                    <dt>{{trans 'admin-user.label.street-number'}}</dt>
                    <dd>{{agent.address.streetNumber}}</dd>
                    <dt>{{trans 'admin-user.label.postcode'}}</dt>
                    <dd>{{agent.address.postcode}}</dd>
                    <dt>{{trans 'admin-user.label.city'}}</dt>
                    <dd>{{agent.address.city}}</dd>
                    <dt>{{trans 'admin-user.label.country'}}</dt>
                    <dd>{{agent.address.country}}</dd>
                    <dt>{{trans 'admin-user.label.phone'}}</dt>
                    <dd>{{agent.address.phone}}</dd>
                </dl>
            </div>
            <div class="input-box clearfix">
                <h3 class="sub-heading">{{fa-icon "info-circle"}} {{trans 'admin-user.label.quick-info'}}</h3>
                <dl class="dl-horizontal">
                    <dt>{{trans 'admin-user.label.social-security-num'}}</dt>
                    <dd>{{agent.socialSecurityNumber}}</dd>
                    <dt>{{trans 'admin-user.label.bank'}}</dt>
                    <dd>{{agent.bankName}}</dd>
                    <dt>{{trans 'admin-user.label.bank-account-num'}}</dt>
                    <dd>{{agent.bankAccountNumber}}</dd>
                    <dt>{{trans 'admin-user.label.agent-background'}}</dt>
                    <dd>{{agent.agentBackground}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-box clearfix">
                <h3 class="sub-heading">{{fa-icon "bell"}} {{trans 'admin-user.label.notification-settings'}}</h3>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-xs-5">{{trans 'general.new-message'}}</label>
                    <div class="col-md-7 col-xs-7">
                        <div class="mt-action-buttons">
                            <div class="btn-group btn-group-circle">
                                <button disabled type="button" class="btn {{if optionMessage 'active'}} btn-outline switch-green btn-sm"><span>{{trans 'general.enabled'}}</span></button>
                                <button disabled type="button" class="btn {{unless optionMessage 'active'}} btn-outline switch-red btn-sm"><span>{{trans 'general.disabled'}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-xs-5">{{trans 'general.e-wallet'}}</label>
                    <div class="col-md-7 col-xs-7">
                        <div class="mt-action-buttons">
                            <div class="btn-group btn-group-circle">
                                <button disabled type="button" class="btn {{if optionPayment 'active'}} btn-outline switch-green btn-sm"><span>{{trans 'general.enabled'}}</span></button>
                                <button disabled type="button" class="btn {{unless optionPayment 'active'}} btn-outline switch-red btn-sm"><span>{{trans 'general.disabled'}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-5 col-xs-5">{{trans 'general.new-agent'}}</label>
                    <div class="col-md-7 col-xs-7">
                        <div class="mt-action-buttons">
                            <div class="btn-group btn-group-circle">
                                <button disabled type="button" class="btn {{if optionAgent 'active'}} btn-outline switch-green btn-sm"><span>{{trans 'general.enabled'}}</span></button>
                                <button disabled type="button" class="btn {{unless optionAgent 'active'}} btn-outline switch-red btn-sm"><span>{{trans 'general.disabled'}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-box clearfix">
                <h3 class="sub-heading">{{fa-icon "tree"}} {{trans 'general.genealogy'}}</h3>
                <dl class="dl-horizontal">
                    <dt>{{trans 'admin-user.label.agent-id'}}</dt>
                    <dd>{{agent.agentId}}</dd>
                    <dt>{{trans 'admin-user.label.direct-superior'}}</dt>
                    <dd>{{agent.superior.fullName}}</dd>
                    <dt>{{trans 'admin-user.label.number-of-agents-downline'}}</dt>
                    <dd>
                        {{#if info.childCount}}
                            {{info.childCount}}
                        {{else}}
                            {{trans 'admin-user.label.not-specified'}}
                        {{/if}}
                    </dd>
                    <dt>{{trans 'admin-user.label.customers'}}</dt>
                    <dd>
                        {{#if info.usersCount}}
                            {{info.usersCount}}
                        {{else}}
                            {{trans 'admin-user.label.not-specified'}}
                        {{/if}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if isSubLoading}}
                <div class="input-box agent-view-bottom-loading clearfix">
                    <img src="./assets/images/ring-alt.gif" alt=""> {{trans loading.logging.user}}
                </div>
            {{else}}
                {{profile-view-agents-component subAgents=subAgents page=page maxPages=maxPages offset=offset filter=(action 'filterModel') showAddAgentButton=false editLink=editLink viewLink=viewLink}}
            {{/if}}
            {{!--<div class="flex-row">--}}
            {{!--<div class="flex-item user-item">--}}
            {{!--<div class="img-holder">--}}
            {{!--<img src="../../../assets/images/user-avatar.png" alt="" class="img-circle">--}}
            {{!--</div>--}}
            {{!--<div class="info">--}}
            {{!--<h5>John Doe</h5>--}}
            {{!--<p>January 12, 2017</p>--}}
            {{!--</div>--}}
            {{!--</div>--}}
            {{!--<div class="flex-item">--}}
            {{!--<span>Package 25</span>--}}
            {{!--</div>--}}
            {{!--<div class="flex-item">--}}
            {{!--<h6 class="label label-success">master</h6>--}}
            {{!--</div>--}}
            {{!--<div class="flex-item">--}}
            {{!--<a href="#" class="button red icon-btn">Edit</a>--}}
            {{!--</div>--}}
            {{!--</div>--}}
        </div>
    </div>
</div>