<li class="clearfix upgrade">
    <span class="label label-date">{{moment-format history.date 'DD/MM/YYYY'}}</span>
    <div class="timeline-badge primary">
        {{fa-icon "clock-o"}}
    </div>
    <div class="timeline-panel bg-primary">
        <div class="timeline-heading text-white">
            <h5 class="timeline-title">Promoted to <span class="role">{{history.changedTo.name}}</span> from <span class="role">{{history.changedFrom.name}}</span></h5>
        </div>
        <div class="timeline-body text-white">
            <p>
                Sales: <span>{{ history.numbOfSales }}</span>
            </p>
            <p>
                Agents: <span>{{ history.activeAgentsNumb }}</span>
            </p>
            <p>
                <small>changed by <span class="img-holder"><img src="{{ history.changedByAgent.baseImageUrl }}" alt=""></span><a href="#">{{ history.changedByAgent.fullName }}</a></small>
            </p>
        </div>
        <span class="panel-icon">
            {{fa-icon "angle-double-up"}}
        </span>
    </div>
</li>
