{{#if mainTitle}}
    <h1 class="main-heading">{{mainTitle}}</h1>
{{/if}}
<div class="all-agents-card-view clearfix">
    {{#unless hideSearchAndFilter}}
        <div class="col-md-12">
            <div class="input-box first">
                {{#if showAgentFilter}}
                    <div class="form-group clearfix">
                        {{inf-select
                        optionLabelKey='email'
                        on-search = (perform search)
                        on-change=(action 'agentSelected')
                        }}
                    </div>
                {{/if}}

                <div class="all-agents-search">
                    <div class="action-buttons">
                        <button {{action "setSearch" 1}} class={{firstBtnClasses}}>{{fa-icon "search"}}</button>
                        <button {{action "setSearch" 2}} class={{secondBtnClasses}}>{{fa-icon "mouse-pointer"}}</button>
                    </div>
                    {{#if limitAll}}
                        <div class="form-group">
                            {{input value=searchValue class=inputClasses  key-up=(perform handleFilterEntry null) focusIn= (action "addClickedClass") focusOut= (action 'removeClickedClass')  placeholder="Search ..."}}
                        </div>
                    {{else}}
                        <div class="form-group">
                            {{abc-buttons filter=(perform handleFilterEntry) }}
                        </div>
                    {{/if}}
                    {{#if showAddAgentButton}}
                        {{#link-to 'dashboard.agents.add-new-agent' class="button green add-agent"}}{{trans 'admin-menu.agents.new'}}{{/link-to}}
                    {{/if}}
                </div>

            </div>
        </div>
    {{/unless}}

    {{#each model as |yieldModel|}}
        {{yield yieldModel}}
    {{/each}}
    <div class="col-md-12">
        <div class="agents-card-pagination text-right">
            <button class="item" {{action 'handlePageChange' '=1'}}>{{fa-icon "angle-double-left"}}</button>
            <button class="item" {{action 'handlePageChange' '-1'}}>{{fa-icon "angle-left"}}</button>

            {{input class="table-pagination-input form-control" enter='handlePageChange' value=meta.page}}
            {{#if meta.pages }}
                <span class="item-span">{{meta.pages}}</span>
            {{else}}
                <span class="item-span">1</span>
            {{/if}}


            <button class="item" {{action 'handlePageChange' '+1'}}>{{fa-icon "angle-right"}}</button>
            <button class="item" {{action 'handlePageChange' (concat '=' meta.pages)}}>{{fa-icon "angle-double-right"}}</button>
        </div>
    </div>
</div>

