<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="changePassModal">
                Change password
                <span aria-hidden="true" class="close pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></span>
            </h4>
        </div>
        <div class="modal-body">
            {{#with (changeset this validations) as |changeset|}}
                    <div class="form-group">
                        {{validated-field
                        type="password"
                        doNotShowLabel = true
                        placeholder= 'Enter your old password'
                        changeset=changeset
                        property="oldPassword"
                        validateProperty=(action 'validateProperty' changeset "oldPassword")
                        }}
                    </div>
                    <div class="form-group">
                        {{validated-field
                        type="password"
                        doNotShowLabel = true
                        placeholder= 'Enter your new password'
                        changeset=changeset
                        property="password"
                        validateProperty=(action 'validateProperty' changeset "password")
                        }}
                    </div>
                    <div class="form-group">
                        {{validated-field
                        type="password"
                        doNotShowLabel = true
                        placeholder= 'Repat your password'
                        changeset=changeset
                        property="passwordConfirmation"
                        validateProperty=(action 'validateProperty' changeset "passwordConfirmation")
                        }}
                    </div>

                <button {{action "setNewPassword" changeset }} type="submit" class="sign-in">
                    {{#if isLoading }}
                        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
                    {{else}}
                        RESET PASSWORD
                    {{/if}}
                </button>
            {{/with}}

        </div>
    </div>
</div>
