<div class="row">
    <div class="card-block-holder clearfix">
        {{#each barChartData as |item index|}}
            <div class="col-xs-12 col-sm-6 col-md-3 card-block">
                <div class="home-card">
                    {{fa-icon "dollar"}}
                    <h5 class="text-capitalize">{{item.agentName}}</h5>
                    <div class="bottom-block">
                        <div class="img-holder">
                            <img alt="Card image" src="{{item.baseImageUrl}}">
                        </div>
                        <div class="">
                            <h6 class="text-uppercase">{{item.groupName}}</h6>
                            <h6 class="text-uppercase"><span class="earned">{{item.totalCommission}}</span> {{currency}}</h6>
                        </div>
                    </div>
                    {{!--<div class="col-xs-4">--}}

                    {{!--{{#link-to 'dashboard.agents.agent-view' item.agentId }}{{fa-icon "arrow-circle-o-right"}}{{/link-to}}--}}
                    {{!--</div>--}}
                </div>
            </div>
        {{/each}}
    </div>
    <div class="col-md-12">
        <div class="input-box">
            <div class="chart-heading">
                <h3 class="sub-heading">
                    Revenue
                </h3>
                <div class="drop-holder">
                    <button type="button" class="button btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select currency ({{ currency }})
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li {{action 'currencyChanged' 'CHF'}}><span>{{fa-icon "money"}}</span> CHF</li>
                        <li {{action 'currencyChanged' 'EUR'}}><span>{{fa-icon "eur"}}</span> EUR</li>
                    </ul>
                </div>
            </div>

            <div id="highchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>