<div class="row">
    <div class="card-block-holder">
        {{#each barChartData as |item index|}}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 bottom-15 block-holder">
                <div class="card card-primary text-xs-center user-info-box">
                    <div class="card-block">
                        {{fa-icon 'money icon-bg'}}
                        <div class="row">
                            <div class="col-xs-4">
                                <img alt="Card image" src="{{item.baseImageUrl}}">
                            </div>
                            <div class="col-xs-8">
                                <h6 class="text-capitalize">{{item.agentName}}</h6>
                                <h6 class="text-uppercase">{{item.groupName}}</h6>
                                <h6 class="text-uppercase">{{item.totalCommission}} {{currency}}</h6>
                            </div>
                            {{!--<div class="col-xs-4">--}}

                                {{!--{{#link-to 'dashboard.agents.agent-view' item.agentId }}{{fa-icon "arrow-circle-o-right"}}{{/link-to}}--}}
                            {{!--</div>--}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="col-md-12">
        <div class="input-box">
            <select class="form-control" onchange={{ action 'currencyChanged'  value="target.value"}}>
                <option value="EUR" selected>EUR</option>
                <option value="CHF">CHF</option>
            </select>
            <div id="highchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>