<h3>Password Reset</h3>
<p class="text-center">Enter your email address <br> and we'll help you reset your password</p>
<form>
    {{#with (changeset this validations) as |changeset|}}
        <div class="form-group">
            {{ email}}
            <div class="icon-addon addon-lg">
                {{validated-field
                doNotShowLabel=true
                type="text"
                placeholder = (trans 'placeholder.email')
                changeset=changeset
                property="email"
                validateProperty=(action 'validateProperty' changeset "email")
                }}
                <label for="username" class="glyphicon glyphicon-user" rel="tooltip" title="email"></label>
            </div>
        </div>

        <button {{action "reset" changeset }} type="submit" class="sign-in">
            {{#if isLoading }}
                <img src="../assets/images/ring-alt.gif" alt=""> {{trans 'loading.sending.data'}}
            {{else}}
                {{trans 'button.reset.passwrod'}}
            {{/if}}
        </button>
    {{/with}}
</form>