<h3>Password Reset</h3>
<h4 class="text-center">Enter your email address <br> and we'll help you reset your password</h4>
<form>
    {{#with (changeset this validations) as |changeset|}}
        <div class="form-group">
            {{ email}}
            <div class="icon-addon addon-lg">
                {{validated-field
                doNotShowLabel=true
                type="text"
                placeholder = (mut (trans 'placeholder.email'))
                changeset=changeset
                property="email"
                validateProperty=(action 'validateProperty' changeset "email")
                }}
            </div>
        </div>

        <button {{action "reset" changeset }} type="submit" class="sign-in">
            {{#if isLoading }}
                <img src="../assets/images/ring-alt.gif" alt=""> {{trans 'loading.sending.data'}}
            {{else}}
                RESET PASSWORD
            {{/if}}
        </button>
    {{/with}}
</form>