<div class="col-md-6">
    {{#each groups as |group|}}
        <div class="form-group clearfix">
            {{group.name}}
            <button class="btn btn-success pull-right" {{action "deleteGroupActionStart" group}}><i class="fa fa-trash"></i></button>
            <button class="btn btn-danger pull-right" style="margin-right: 5px;" {{action "editGroupAction" group}}><i class="fa fa-pencil"></i></button>
        </div>
    {{/each}}
</div>

<div class="col-md-6">
    {{#if displayDelete}}
        <h3 class="sub-heading">Please select new group for users</h3>
        <div>
            {{#each availableParents as |group|}}
                <div class="form-group clearfix">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {{group.name}}
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" {{action "setNewParentGroup" group}}>Set as new parent</button>
                        </div>
                    </div>
                </div>
            {{/each}}

            <button class="btn btn-danger pull-right" {{action "deleteGroup"}} disabled={{isDeleteButtonDisabled}} >Delete</button>
            <button class="btn btn-success pull-right" style="margin-right: 5px;" {{action "cancelDelete"}}>Cancel</button>
        </div>
    {{else}}
        {{#if displayEdit}}
            <h1 class="main-heading">Edit group</h1>
            <div>
                <div class="form-group clearfix">
                    {{input type="text" class="new-group form-control" placeholder="New group" value=editGroup.name}}

                    {{elements.roles-multipleselect selectedRoles=editGroup.roles onSelectAction=(action 'roleSelect')}}
                </div>
                <button type="button" class="btn btn-success pull-right" {{action "editGroupSave"}}>Save</button>
                <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;" {{action "cancelEdit"}}>Cancel</button>
            </div>
        {{else}}
            <h1 class="main-heading">Add new group</h1>
            <div class="form-group clearfix">
                <label for="{{addName}}">New group name</label>
                {{input type="text" class="new-group form-control" value=addName}}
            </div>
            {{elements.roles-multipleselect onSelectAction=(action 'roleSelect')}}

            <button class="btn btn-success pull-right" {{action "createGroup"}}>Add</button>
        {{/if}}
    {{/if}}
</div>