<h1 class="main-heading">{{trans 'admin-menu.settings.groups'}}</h1>
<div class="col-md-6">
    <div class="input-box">
        <h3 class="sub-heading">Groups</h3>
        {{#each groups as |group|}}
            <div class="form-group clearfix">
                {{group.name}}
                <button class="button red icon-btn pull-right" {{action "deleteGroupActionStart" group}}><i class="fa fa-trash"></i></button>
                <button class="button green icon-btn pull-right" style="margin-right: 5px;" {{action "editGroupAction" group}}><i class="fa fa-pencil"></i></button>
            </div>
        {{/each}}
    </div>
</div>

<div class="col-md-6">
    {{#if displayDelete}}
        <div class="input-box clearfix">
            <h3 class="sub-heading">{{trans 'manage-groups.select-new'}}</h3>
            {{#each availableParents as |group|}}
                <div class="form-group clearfix">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {{group.name}}
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="button blue btn-small" {{action "setNewParentGroup" group}}>{{trans 'manage-groups.set-parent'}}</button>
                        </div>
                    </div>
                </div>
            {{/each}}

            <button class="button red pull-right" {{action "deleteGroup"}} disabled={{isDeleteButtonDisabled}} >{{trans 'button.delete'}}</button>
            <button class="button green pull-right" style="margin-right: 5px;" {{action "cancelDelete"}}>{{trans 'button.cancel'}}</button>
        </div>
    {{else}}
        {{#if displayEdit}}
            <div class="input-box clearfix">
                <h3 class="sub-heading">{{trans 'manage-groups.edit'}}</h3>
                <div class="form-group clearfix">
                    {{input type="text" class="new-group form-control" placeholder="New group" value=editGroup.name}}

                    {{elements/roles-multipleselect selectedRoles=editGroup.roles onSelectAction=(action 'roleSelect')}}
                </div>
                <button type="button" class="button green pull-right" {{action "editGroupSave"}}>{{trans 'button.save'}}</button>
                <button type="button" class="button red pull-right" style="margin-right: 5px;" {{action "cancelEdit"}}>{{trans 'button.cancel'}}</button>
            </div>
        {{else}}
            <div class="input-box clearfix">
                <h3 class="sub-heading">{{trans 'manage-groups.add'}}</h3>
                <div class="form-group clearfix">
                    <label for="{{addName}}">{{trans 'manage-groups.new-name'}}</label>
                    {{input type="text" class="new-group form-control" value=addName}}
                </div>
                <div class="form-group clearfix">
                    {{elements/roles-multipleselect onSelectAction=(action 'roleSelect')}}
                </div>
                <button class="button green pull-right" {{action "createGroup"}}>{{trans 'button.add'}}</button>
            </div>
        {{/if}}
    {{/if}}
</div>

{{#if isLoading }}
    <<div class="loader-holder">
        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{/if}}