<a href="#"
   class="select-label
    {{if _isShowingMenu 'select-label-menu-open'}}
       {{if multiple 'select-label-multiple'}}
       {{if _hasMultipleSelection 'select-label-multiple-selected'}}"
    {{action "toggleMenu"}}>

    {{#if _hasSingleSelection}}
            {{#if optionLabelKey}} {{get _selected optionLabelKey}}  {{else}} {{_selected}}{{/if}}

    {{/if}}

    {{#if _hasMultipleSelection}}
        {{#each _selected as |selectedOption|}}
            <span class="selected-pill">
                 {{#if optionLabelKey}} {{get selectedOption optionLabelKey}}  {{else}} {{selectedOption}}{{/if}}
                <span
                        class="selected-pill-clear"
                    {{action "removeOption" selectedOption bubbles=false}}>
          &times;
                </span>
            </span>
        {{/each}}
    {{/if}}

    {{#unless _hasSelection}}
        {{prompt}}
    {{/unless}}
</a>

{{#if _isShowingMenu}}
    <div class="searchable-select-menu {{if _isSearchable 'search-enabled' 'search-disabled'}}">
        <div class="select-search" {{action "noop" bubbles=false}}>
            {{#if _isShowingResultCount}}
                <span class="select-result-count-label {{if _isShowingSearchClear "select-result-count-label-with-search-clear"}}" {{action "clickResultCountLabel"}}>{{pluralize _resultCount resultCountMessage}}</span>
            {{/if}}
            {{#if _isShowingSearchClear}}
                <button class="clear-search" {{action "clearSearch" bubbles=false}}>&times;</button>
            {{/if}}
            {{#if _isSearchable}}
                {{input
                        class="select-input form-control"
                        type="text"
                        placeholder=searchPrompt
                        key-up="updateSearch"
                        tabindex=-1
                        bubbles=false}}
            {{/if}}

        </div>

        {{#if _isShowingClear}}
            <div class="select-clear"
                 tabindex=-1
                 data-enter-key-action="clear"
                {{action "clear" bubbles=false}}>
        <span class="select-icon select-icon-clear">
          &times;
        </span>
                {{clearLabel}}
            </div>
        {{/if}}

        {{#if _isShowingAddNew}}
            <div class="select-add-new"
                 tabindex=-1
                 data-enter-key-action="addNew"
                {{action "addNew" bubbles=false}}>
                {{addLabel}} <em>{{_searchText}}</em>
            </div>
        {{/if}}

        {{#if _isShowingNoResultsMessage}}
            <div class="select-info">
                {{noResultsMessage}}
            </div>
        {{/if}}

        {{#if _isLoading}}
            <div class="select-info">
                {{inf-loading}}
                <span class="select-loader-text">
                    {{loadingMessage}}
                </span>
            </div>
        {{/if}}

        <div class="select-list-scroll-wrapper">
            {{#if _hasResults}}
                <ul class="select-options-list">
                    {{#each _filteredContent as |option|}}
                        {{inf-option
                                option=option
                                class="select-option"
                                selected=_selected
                                searchText=_searchText
                                optionLabelKey=optionLabelKey
                                optionDisabledKey=optionDisabledKey
                                select-item=(action "selectItem")}}
                    {{/each}}
                    {{#unless _isLoading}}
                        {{#if _hasMeta}}
                            {{#if _hasMore}}
                                <li class="option-list-more-items">
                                    {{#if isLoadingMore}}
                                        {{inf-loading}}
                                        <span class="select-loading-more-label text-muted">{{loadingMoreMessage}}</span>
                                    {{else}}
                                        <span class="select-more-label text-muted" {{action "searchMore" bubbles=false}}>{{moreMessage}}</span>
                                    {{/if}}
                                </li>
                            {{/if}}
                            {{#if _hasNoMore}}
                                <li><span class="select-no-more-label text-muted">{{noMoreMessage}}</span></li>
                            {{/if}}
                        {{/if}}
                    {{/unless}}

                </ul>
            {{/if}}
        </div>
    </div>
{{/if}}