<a type="button" {{action 'openModal'}}> {{fa-icon "user-plus"}}</a>
{{#bs-modal open=isModalOpen header=false body=false footer=false }}
    {{#bs-modal-header}}
        <h4 class="modal-title" id="invitePeopleModal">
            {{trans 'general.invite-people'}}
        </h4>
    {{/bs-modal-header}}
    {{#bs-modal-body class="clearfix"}}
        {{!--<div class="form-group">--}}
            {{!--<label for="">{{trans 'mail.from-email'}}</label>--}}
            {{!--<input class="form-control" type="text" id="text-agentEmail" value={{agentEmail}} disabled>--}}
        {{!--</div>--}}
        <div class="form-group">
            <label for="">{{trans 'mail.choose-mail-list'}}</label>
            {{inf-select
                    optionLabelKey="name"
                    searchable=true
                    content = mailLists
                    selected = mailList
                    on-change=(action 'changeList')
            }}

                <button class="button green" {{action 'goToAddList'}}>{{trans 'mail.add-new-mail-list'}}</button>
        </div>
        {{!--<div class="form-group">--}}
            {{!--<input class="form-control" type="text" id="text-agentCode" value={{agentCode}} disabled>--}}
        {{!--</div>--}}
        <button {{action "invitePeople" }} type="submit" class="button green pull-right">
            {{#if isLoading }}
                {{inf-loading}}
            {{else}}
                {{trans 'button.send-mail'}}
            {{/if}}
        </button>
    {{/bs-modal-body}}
{{/bs-modal}}
