<form {{action 'authenticateWithOAuth2' on='submit'}}>
    <div class="form-group">
        <div class="icon-addon addon-lg">
            {{input value=identification placeholder='Username' class='form-control'}}
            <label for="username" class="glyphicon glyphicon-user" rel="tooltip" title="email"></label>
        </div>
    </div>

    <div class="form-group">
        <div class="icon-addon addon-lg">
            {{input value=password placeholder='Password' class='form-control' type='password'}}
            <label for="password" class="glyphicon glyphicon-lock" rel="tooltip" title="email"></label>
        </div>
    </div>

    <div class="remember-password">
        <div class="remember-me">
            <input type="checkbox"> <span>Remember me</span>
        </div>
        <div class="forgot-password pull-right">
            {{#link-to 'login.forgot'}}Forgot your password?{{/link-to}}
        </div>
    </div>
    <button type="submit" class="sign-in">
        {{#if isLoading }}
            <img src="assets/images/ring-alt.gif" alt=""> {{trans loading.logging.user}}
        {{else}}
            SIGN IN
        {{/if}}
    </button>
</form>
{{#if errorMessage}}
    <div class="alert alert-danger">
        <p>
            <strong>Login failed:</strong> <code>{{errorMessage}}</code>
        </p>
    </div>
{{/if}}