<h3 class="sub-heading">{{trans commission.name}}</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group clearfix">
            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'settings.labels.setup-fee'}}
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{validated-field
                        type="text"
                        changeset=changeset
                        property="setupFee"
                        doNotShowLabel=true
                        validateProperty=(action 'validateProperty' changeset "setupFee")
                }}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'settings.labels.packages'}}
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{validated-field
                        type="text"
                        changeset=changeset
                        property="packages"
                        doNotShowLabel=true
                        validateProperty=(action 'validateProperty' changeset "packages")
                }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group clearfix">
            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'settings.labels.connect'}}
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{validated-field
                        type="text"
                        changeset=changeset
                        property="connect"
                        doNotShowLabel=true
                        validateProperty=(action 'validateProperty' changeset "connect")
                }}
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-5 col-sm-5 col-xs-12">{{trans 'settings.labels.stream'}}
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                {{validated-field
                        type="text"
                        changeset=changeset
                        property="stream"
                        doNotShowLabel=true
                        validateProperty=(action 'validateProperty' changeset "stream")
                }}
            </div>
        </div>
    </div>
</div>