<h3>Password Reset</h3>
<form>
    {{#with (changeset this validations) as |changeset|}}
        <div class="form-group clearfix">
            <div class="icon-addon addon-lg">
                {{validated-field
                        type="password"
                        doNotShowLabel = true
                        placeholder= 'Enter your new password'
                        changeset=changeset
                        property="password"
                        validateProperty=(action 'validateProperty' changeset "password")
                }}
                <label for="password" class="glyphicon glyphicon-lock" rel="tooltip" title="email"></label>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="icon-addon addon-lg">
                {{validated-field
                        type="password"
                        doNotShowLabel = true
                        placeholder= 'Repat your password'
                        changeset=changeset
                        property="passwordConfirmation"
                        validateProperty=(action 'validateProperty' changeset "passwordConfirmation")
                }}
                <label for="password" class="glyphicon glyphicon-lock" rel="tooltip" title="email"></label>
            </div>
        </div>

        <button {{action "setNewPassword" changeset }} type="submit" class="sign-in">
            {{#if isLoading }}
                <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
            {{else}}
                RESET PASSWORD
            {{/if}}
        </button>
    {{/with}}

    <!--<input onClick="parent.location='email-sent.html'" class="sign-in" type=button value=''>-->
</form>