{{#bs-modal open=isModalOpen header=false body=false footer=false }}
    {{#bs-modal-header}}
        <h4 class="modal-title" id="invitePeopleModal">
            Chose Superior
        </h4>
    {{/bs-modal-header}}
    {{#bs-modal-body class="clearfix"}}
            <div class="form-group">
                <label class="alert alert-danger" id="text-new-superior">You will lose all child agents. Select new Superior for them.</label>
            </div>
            <div class="form-group">
                {{inf-select
                        optionLabelKey='name'
                        content=groups
                        serchable=true
                        on-change=(action 'newSuperiorRoleSelected')
                }}
            </div>

            <button {{action "saveNewSuperiorRole"}} type="submit" class="button green pull-right">
                {{#if isLoading }}
                    {{inf-loading}}
                {{else}}
                    {{trans 'button.send-mail'}}
                {{/if}}
            </button>
    {{/bs-modal-body}}
{{/bs-modal}}
