<h1 class="main-heading">{{mainTitle}}</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            {{#each colNames as |colName|}}
                <th>{{colName}}</th>
            {{/each}}
        </tr>
        <tr>
            {{#each colModels as |colName|}}
                {{table-view-search-component column=colName.value compareType=colName.compare compareValues=colName.compareValues sortType=sortType sortColumn=sortColumn filter=(action 'handleFilterEntry')}}
            {{/each}}
            <td></td>
        </tr>

        {{#each model as |m|}}
            <tr>
                {{#each colModels as |colModel|}}
                    <td>{{get m colModel.value}}</td>
                {{/each}}
                <td>
                    {{#link-to viewLink m.id class="table-user-link"}}
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    {{/link-to}}
                    {{#link-to editLink m.id class="table-user-link"}}
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    {{/link-to}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <button {{action 'goToPage' 1}}>First</button>
    <button {{action 'goToPage' '-1'}}>Previous</button>

    {{input enter="goToPage" value=model.meta.page}}
    {{model.meta.pages}}

    <button {{action 'goToPage' '+1'}}>Next</button>
    <button {{action 'goToPage' model.meta.pages}}>Last</button>

</div>

