<h1 class="main-heading">{{mainTitle}}</h1>
{{#if isLoading }}
    {{inf-loading}}
{{/if}}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            {{#each colNames as |colName|}}
                <th>{{colName}}</th>
            {{/each}}
        </tr>
        <tr>
            {{#each colModels as |colName|}}
                {{table-view-search-component column=colName.value compareType=colName.compare compareValues=colName.compareValues sortType=sortType sortColumn=sortColumn filter=(action 'handleFilterEntry')}}
            {{/each}}
            <td></td>
        </tr>

        {{#each model as |m|}}
            <tr>
                {{#each colModels as |colModel|}}
                    <td>{{table-view-formatter-helper colModel.formatter (get m colModel.value)}}</td>
                {{/each}}
                <td>
                    {{# if viewLink }}
                        {{#link-to viewLink m.id class="table-user-link"}}
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        {{/link-to}}
                    {{/if}}
                    {{# if editLink }}
                        {{#link-to editLink m.id class="table-user-link"}}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        {{/link-to}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{table-view-pagination-component model=model offset=offset filter=(action 'goToPage')}}
</div>