{{#unless doNotShowLabel }}
    <label for={{concat type "-" property}}>{{property}}</label>
{{/unless}}
<input
        class="form-control"
        placeholder={{placeholder}}
        type={{type}}
                id={{concat type "-" property}}
        value={{get changeset property}}

                oninput={{action (mut (get changeset property)) value="target.value"}}
        onblur={{action validateProperty}}>
{{#if (get changeset.error property)}}
    <ul class="error-list">
        {{#each (get (get changeset.error property) "validation") as |message|}}
            <li>{{message}}</li>
        {{/each}}
    </ul>
{{/if}}