{{#unless doNotShowLabel }}
    <label for={{concat type "-" property}}>{{property}}</label>
{{/unless}}
{{#if (eq type 'textarea')}}
    <textarea cols="30" rows="5" class="form-control" placeholder={{placeholder}} id={{concat type "-" property}} value={{get changeset property}}
            oninput={{action (mut (get changeset property)) value="target.value"}}
              onblur={{action validateProperty}}> </textarea>

{{else}}
    <input class="form-control" placeholder={{placeholder}} type={{type}} id={{concat type "-" property}} value={{get changeset property}}
           oninput={{action (mut (get changeset property)) value="target.value"}}
                   onblur={{action validateProperty}}>

{{/if}}

{{#if (get changeset.error property)}}
    <ul class="error-list">
        {{#each (get (get changeset.error property) "validation") as |message|}}
            <li>{{trans message}}</li>
        {{/each}}
    </ul>
{{/if}}