<div class="tickets">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-heading">{{trans 'tickets.labels.title'}}</h1>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="ticket-info">
                <h3 class="sub-heading">{{trans 'tickets.labels.info'}}</h3>
                <div class="row">
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>{{trans 'tickets.labels.id'}}</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>{{model.id}}</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>{{trans 'tickets.labels.type'}}</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>{{model.type}}</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>{{trans 'tickets.labels.date'}}</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>{{print-custom-date model.createdAt}}</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>{{trans 'tickets.labels.status'}}</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>{{model.status}}</p></div>
                    </div>
                    {{#if model.file.webPath}}
                        {{#elements/file-downloader-component file=model.file as |isImage file items options|}}
                            {{#if isImage}}
                                <div class="group">
                                    <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>{{trans 'tickets.labels.file'}}</strong></p></div>
                                    {{#photo-swipe items=items options=options as |img|}}
                                        <div class="col-md-6 col-sm-6 col-xs-12"><a class="swipe-preview"><i class="fa fa-eye" aria-hidden="true"></i> {{trans 'general.preview-attachment'}}</a></div>
                                    {{/photo-swipe}}
                                </div>
                            {{else}}
                                <div class="group">
                                    <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>{{trans 'tickets.labels.file'}}</strong></p></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12"><a href="{{file.webPath}}" target="_blank" download>{{fa-icon 'paperclip' }} {{trans 'general.download-attatchment'}}</a></div>
                                </div>
                            {{/if}}
                        {{/elements/file-downloader-component}}
                    {{/if}}
                </div>
            </div>
            {{#if isAdmin}}
                <label>
                    {{trans 'models.ticket.change-status'}}
                </label>
                <div class="form-group">
                    {{elements/status-select ticketStatus=model.status onStatusSelected=(action 'statusChanged')}}
                </div>
            {{/if}}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="user-info clearfix">
                <h3 class="sub-heading">{{trans 'tickets.labels.user-info'}}</h3>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="img-holder">
                        <img src="{{model.createdBy.baseImageUrl}}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>{{trans 'tickets.labels.username'}}</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>{{model.createdBy.username}}</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>{{trans 'tickets.labels.full-name'}}</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>{{model.createdBy.fullName}}</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>{{trans 'tickets.labels.email'}}</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>{{model.createdBy.email}}s</p></div>
                    </div>
                </div>
            </div>
            {{#if isAdmin}}
                <div class="form-group clearfix">
                    <label class="control-label">{{trans 'tickets.labels.select-agents-to-forward'}}</label>
                    <div class="">
                        {{inf-select
                                optionLabelKey='email'
                                selected=model.forwardedTo
                                on-search = (perform search)
                                on-change=(action 'agentSelected')
                        }}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="ticket-details clearfix">
                {{#if model.thread}}
                    {{messages/message-thread
                    thread=model.thread
                    createMessageAction=(action 'createMessage')
                    createFileAction=createFileAction
                    disabledSendMessage=disableWriteByUser
                    ticketSolved = ticketSolved
                    hideDelete=true
                    }}
                {{/if}}
            </section>
        </div>
    </div>
</div>