<h1 class="main-heading clearfix">{{trans 'models.payment-info.purchase-details'}} <span class="pull-right">{{#link-to 'dashboard.users.user-view' model.user.id class='button red btn-small'}}{{trans 'models.payment-info.customer-profile'}}{{/link-to}}</span></h1>

<div class="top-options">
    <div class="row">
        <div class="col-md-6">
            <div class="input-box">
                <h3>Content republic</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <p><strong>{{trans 'admin-user.label.name'}}</strong></p>
                            <p>{{model.user.firstName}}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'admin-user.label.family-name'}}</strong></p>
                            <p>{{model.user.lastName}}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'admin-user.label.email'}}</strong></p>
                            {{model.user.email}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <p><strong>{{trans 'models.payment-info.order-id'}}</strong></p>
                            <p>{{model.id}}</p>
                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'models.payment-info.date-created'}}</strong></p>
                            <p>{{moment-format model.created_at 'DD/MM/YYYY'}}</p>

                        </div>
                        <div class="form-group">
                            <p><strong>{{trans 'admin-user.label.country'}}</strong></p>
                            <p>{{model.user.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-box">
                <div class="iframe-wrapper">
                    {{#if model.user.country}}
                        <iframe class="iframe"
                                width="600"
                                height="200"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAZEgHzNOFLO46o_e3G25XkysVBsgYAto &q={{model.user.country}}" allowfullscreen>
                        </iframe>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="purchase-tables">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{trans 'settings.labels.packages'}}</th>
                        <th>{{trans 'models.payment-info.duration'}}</th>
                        <th>{{trans 'models.payment-info.price'}}</th>
                        <th>{{trans 'settings.labels.currency'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each model.items as |item| }}
                        <tr>
                            <td>{{item.product}}</td>
                            <td>{{moment-format item.date_from 'DD/MM/YYYY'}} - {{moment-format ( moment-subtract item.date_to 1 'days') 'DD/MM/YYYY'}}</td>
                            <td>{{number-format item.unit_price 2}}</td>
                            <td>{{currency-for-country model.user.country}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{trans 'models.payment-info.article'}}</th>
                        <th>{{trans 'models.payment-info.duration'}}</th>
                        <th>{{trans 'models.payment-info.price'}}</th>
                        <th>{{trans 'settings.labels.currency'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {{#if model.fee_price}}
                            <td>{{trans 'settings.labels.one-time-setup'}}</td>
                            <td>{{ moment-format model.created_at 'DD/MM/YYYY' }} - {{ moment-format (moment-subtract maxDate 1 'days') 'DD/MM/YYYY' }}</td>
                            <td>{{ number-format model.fee_price 2 }}</td>
                            <td>{{ currency-for-country model.user.country }}</td>
                        {{/if}}

                    </tr>
                    <tr>
                        <td>{{trans 'settings.labels.connect'}}</td>
                        <td>{{ moment-format model.created_at 'DD/MM/YYYY'}} - {{ moment-format (moment-subtract maxDate 1 'days') 'DD/MM/YYYY' }}</td>
                        <td>{{ number-format model.connect_price 2}}</td>
                        <td>{{ currency-for-country model.user.country}}</td>
                    </tr>
                    <tr>
                        <td>{{ model.num_of_streams }} stream/s</td>
                        <td>{{ moment-format model.created_at 'DD/MM/YYYY'}} - {{moment-format (moment-subtract model.stream_date_to 1 'days') 'DD/MM/YYYY'}}</td>
                        <td>{{ number-format (multiply model.stream_price model.num_of_streams) 2}}</td>
                        <td>{{ currency-for-country model.user.country}}</td>
                    </tr>
                    <tr>
                        <td>{{trans 'dashboard.labels.price-for-remaining'}}</td>
                        <td>{{ moment-format model.created_at 'DD/MM/YYYY' }} - {{ moment-format (moment-add model.created_at model.num_of_remaining_days 'days') 'DD/MM/YYYY'}}</td>
                        <td>{{ number-format (multiply  model.num_of_remaining_days model.price_per_remaining_day) 2 }}</td>
                        <td>{{ currency-for-country model.user.country}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>{{trans 'dashboard.labels.total'}}</td>
                        <td></td>
                        <td>{{currency-for-country model.user.country}} {{ number-format model.total 2}}</td>
                        <td><i class="fa fa-print" {{ action 'downloadPDF' }}></i></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>