{{agent-left-menu}}
<div class="right-section">
    <section class="dashboard-home">
        <div class="row">
            {{home-card-component
                    card-title = (trans 'dashboard.labels.new-customers')
                    isLoading = newUsersInfoLoading
                    model = newUsersInfo
                    getNewElements = (action 'getNumberOfNewUsers')
                    imageClass = 'user'
            }}
            {{home-card-component
                    card-title = (trans 'dashboard.labels.new-agents')
                    isLoading = newAgentsLoading
                    model = newAgentsInfo
                    getNewElements = (action 'getNumberOfNewAgents')
                    imageClass = 'black-tie'
            }}
            {{home-card-component
                    card-title = (trans 'dashboard.labels.new-orders')
                    isLoading = newOrdersInfoLoading
                    model = newOrdersInfo
                    getNewElements = (action 'getNumberOfNewOrders')
                    imageClass = 'black-tie'
            }}
            {{home-card-component
                    card-title = (trans 'dashboard.labels.new-commissions')
                    isLoading = newCommissionsInfoLoading
                    model = newCommissionsInfo
                    getNewElements = (action 'getNumberOfNewCommissions')
                    isMultipleCard = isNewCommissionsInfoMultiple
                    imageClass = 'usd'
            }}
        </div>

        <div class="row">
            {{ dashboard/orders-preview-component
                    viewLink = "dashboard.agent.agent-reports.purchase-details"
                    viewAllLink = "dashboard.agent.agent-reports.customer-orders"
                    getOrders = (action 'getLatestOrders')
            }}
            {{new-message-user-info
                    newUsersInfoLoading     = newUsersInfoLoading
                    newUsersInfo            = newUsersInfo
                    newMessagesInfoLoading  = newMessagesInfoLoading
                    newMessagesInfo         = newMessagesInfo
                    getMessages             = (action 'getNumberOfNewMessages')
            }}
        </div>
        {{chart-component}}
        {{ dashboard/map-component}}
    </section>
</div>