<section class="create-message">
    <div class="messages-heading clearfix">
        <h1 class="main-heading">Create Message</h1>
    </div>

    <form role="form">
        <div class="row setup-content">
            <div class="col-xs-12 col-lg-8">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-12 text-right">Email
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class=" col-xs-12">
                        {{inf-select
                            optionLabelKey='email'
                            on-search = (perform search)
                            on-change=(action 'agentSelected')
                        }}
                        {{#if (get changeset.error 'participants')}}
                            <ul class="error-list">
                                {{#each (get (get changeset.error 'participants') "validation") as |message|}}
                                    <li>{{message}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-xs-12 text-right">Subject
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class=" col-xs-12">
                        {{validated-field doNotShowLabel=true property="messageSubject" changeset=changeset type="text"
                            validateProperty=(action 'validateProperty' changeset "messageSubject")}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label  col-xs-12 text-right">Content
                        <span class="required" aria-required="true"></span>
                    </label>
                    <div class="col-xs-12">
                        {{validated-field doNotShowLabel=true property="body" changeset=changeset type="text"
                        validateProperty=(action 'validateProperty' changeset "body")}}
                    </div>
                </div>
                <div class="form-group clearfix text-right">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-danger" {{action 'sendMessage'}}>Send</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{{#if isLoading }}
    <<div class="loader-holder">
        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{/if}}