<section class="create-message">
    <h1 class="main-heading">{{trans 'general.create'}}</h1>
    <form role="form">
        <div class="row setup-content">
            <div class="col-md-6">
                <div class="input-box">
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-12 text-right">{{trans 'general.message'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class=" col-xs-12">
                            {{inf-select
                                    optionLabelKey='email'
                                    on-search = (perform search)
                                    on-change=(action 'agentSelected')
                            }}
                            {{#if (get changeset.error 'participants')}}
                                <ul class="error-list">
                                    {{#each (get (get changeset.error 'participants') "validation") as |message|}}
                                        <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-12 text-right">{{trans 'admin-messages.subject'}}
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class=" col-xs-12">
                            {{validated-field doNotShowLabel=true property="messageSubject" changeset=changeset type="text"
                                              validateProperty=(action 'validateProperty' changeset "messmyageSubject")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label  col-xs-12 text-right">{{trans 'admin-messages.content'}}
                            <span class="required" aria-required="true"></span>
                        </label>
                        <div class="col-xs-12">
                            {{validated-field doNotShowLabel=true property="body" changeset=changeset type="textarea"
                                              validateProperty=(action 'validateProperty' changeset "body")}}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label  col-xs-12 text-right">{{trans 'admin-messages.files'}}
                            <span class="required" aria-required="true"></span>
                        </label>
                        <div class="col-xs-12">
                            {{dropzone-one-file keepLocal=true addRemoveLinks=true maxFiles=1 onRemovedFile=(action 'removedFile') onAddedFile=(action 'addedFile') }}
                        </div>
                    </div>
                    <div class="form-group clearfix text-right">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-green" {{action 'saveAsDraft'}}>
                                {{#if isLoading }}
                                    {{inf-loading}}
                                {{else}}
                                    Save as draft
                                {{/if}}
                            </a>
                            <a href="#" class="button green" {{action 'sendMessage'}}>
                                {{#if isLoading }}
                                    {{inf-loading}}
                                {{else}}
                                    {{trans 'admin-messages.send'}}
                                {{/if}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{{#if isLoading }}
    <<div class="loader-holder">
        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{/if}}