<div class="message-full">
    <div class="message-header">
        <div class="message-active"></div>
        {{#if (eq thread.createdBy.id currentUser.user.id)}}
            <h3 class="name">{{thread.otherParticipant.fullName}}</h3>
        {{else}}
            <h3 class="name">{{thread.createdBy.fullName}}</h3>
        {{/if}}

        <h4 class="subject"><strong>{{trans 'admin-messages.subject'}}:</strong> {{thread.subject}}</h4>
        {{#if isDeletedDisplay}}
            <button class="btn btn-danger" {{action 'deleteThread'}}><i class="fa fa-undo" aria-hidden="true"></i></button>
        {{else}}
            <button class="btn btn-danger" {{action 'deleteThread'}}><i class="fa fa-trash" aria-hidden="true"></i></button>
        {{/if}}
    </div>
    <div class="message-body" id="messages-list">
        <section class="view-message" >
            <section class="messages clearfix">

                {{#infinity-loader infinityModel=messages scrollable="#messages-list" _shouldLoadMore=_shouldLoadMore eventBus=eventBus}}
                    {{#if _canLoadMore}}
                        <div id="loading-more-state">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        </div>
                    {{/if}}
                {{/infinity-loader}}

                {{#each messagesInverse as |message|}}
                    <article>
                        {{#if (eq message.sender.id currentUser.user.id)}}
                            <div class="admin-comment">
                                <div class="admin-message clearfix">
                                    <p>{{message.body}}</p>
                                    <span>{{moment-from-now message.createdAt hideSuffix=false interval=5000}}</span>
                                    {{#if message.file}}
                                        <a href="{{message.file.webPath}}" class="attachment-download" download="">
                                            <i class="fa fa-download" aria-hidden="true"></i> {{message.file.name}}
                                        </a>
                                    {{/if}}
                                </div>
                                <div class="username username-admin">
                                    <div class="img-holder">
                                        {{#if currentUser.user.baseImageUrl}}
                                            <img src="{{currentUser.user.baseImageUrl}}" title="Username">
                                        {{else}}
                                            <img src="../../assets/images/user-avatar.png" title="Username">
                                        {{/if}}
                                    </div>
                                    <h4>{{currentUser.user.fullName}}</h4>
                                </div>
                            </div>
                        {{else}}
                            <div class="user-comment">
                                <div class="username">
                                    {{#if (eq thread.createdBy.id currentUser.user.id)}}
                                        <h4>{{thread.otherParticipant.fullName}}</h4>
                                    {{else}}
                                        <h4>{{thread.createdBy.fullName}}</h4>
                                    {{/if}}

                                    <div class="img-holder">
                                        {{#if (eq thread.createdBy.id currentUser.user.id)}}
                                            {{#if thread.otherParticipant.baseImageUrl}}
                                                <img src="{{thread.otherParticipant.baseImageUrl}}" title="Username">
                                            {{else}}
                                                <img src="../../assets/images/user-avatar.png" title="Username">
                                            {{/if}}
                                        {{else}}
                                            {{#if thread.createdBy.baseImageUrl}}
                                                <img src="{{thread.createdBy.baseImageUrl}}" title="Username">
                                            {{else}}
                                                <img src="../../assets/images/user-avatar.png" title="Username">
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="user-message clearfix">
                                    <p>{{message.body}}</p>
                                    <span>{{moment-from-now message.createdAt hideSuffix=false interval=5000}}</span>
                                    {{#if message.file}}
                                        <a href="{{message.file.webPath}}" class="attachment-download" download="">
                                            <i class="fa fa-download" aria-hidden="true"></i> {{message.file.name}}
                                        </a>
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    </article>
                {{/each}}

            </section>
            {{#if newMessagesDisplayToggle}}
                <div class="new-messages-alert">
                    <a {{action 'showNewMessages'}}>{{trans 'admin-messages.new-messages'}} <i class="fa fa-chevron-down"></i></a>
                </div>
            {{/if}}
        </section>
    </div>
    {{#unless disabledSendMessage}}
        <div class="send-message-mobile">
            <form {{action 'sendMessage' on="submit"}}>
                <div class="input-group">
                    {{input type="text" value=messageBody class="form-control" placeholder=(trans "admin-messages.enter")}}
                    {{#if fileTemp}}
                        <i class="fa fa-paperclip file-attached" {{action 'toggleAttachDropzone'}}></i>
                    {{else}}
                        <i class="fa fa-paperclip" {{action 'toggleAttachDropzone'}}></i>
                    {{/if}}
                    <div class="dropzone-holder" hidden={{hideAttachDropzone}}>
                        {{dropzone-one-file keepLocal=true addRemoveLinks=true maxFiles=1 onRemovedFile=(action 'removedFile') onAddedFile=(action 'addedFile') }}
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" disabled={{sendBtnDisabled}}>{{trans 'admin-messages.send.message'}}</button>
                    </span>
                </div>
            </form>
        </div>
    {{/unless}}
</div>
{{#if isLoading }}
    <div class="loader-holder">
        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{/if}}