<div class="message-full">
    <div class="message-header">
        <div class="message-active"></div>
        {{#if (eq thread.createdBy.id currentUser.user.id)}}
            <h3 class="name">{{thread.otherParticipant.fullName}}</h3>
        {{else}}
            <h3 class="name">{{thread.createdBy.fullName}}</h3>
        {{/if}}

        <h4 class="subject"><strong>{{trans 'admin-messages.subject'}}:</strong> {{thread.subject}}</h4>
        {{#if isDeletedDisplay}}
            {{#unless hideDelete}}
                <button class="button green icon-btn" {{action 'deleteThread'}}><i class="fa fa-undo" aria-hidden="true"></i></button>
            {{/unless}}
        {{!--<button class="button red icon-btn" {{action 'permanentDelete'}}><i class="fa fa-times-circle" aria-hidden="true"></i></button>--}}
        {{else}}
            {{#unless hideDelete}}
                <button class="button red icon-btn" {{action 'deleteThread'}}><i class="fa fa-trash" aria-hidden="true"></i></button>
            {{/unless}}
        {{/if}}
    </div>
    <div class="message-body" id="messages-list">
        <section class="view-message" >
            <section class="messages clearfix">

                {{#infinity-loader infinityModel=messages scrollable="#messages-list" _shouldLoadMore=_shouldLoadMore eventBus=eventBus}}
                    {{#if _canLoadMore}}
                        <div id="loading-more-state">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        </div>
                    {{/if}}
                {{/infinity-loader}}

                {{#each messagesInverse as |message|}}
                    <article>
                        {{#if (eq message.sender.id currentUser.user.id)}}
                            <div class="admin-comment">
                                <div class="admin-message clearfix">

                                    {{messages/message-single-item body=message.body}}
                                    {{!--<p class="single-message-content">{{message.body}}</p>--}}

                                    <span>{{moment-from-now message.createdAt hideSuffix=false interval=5000}}</span>
                                    {{#if message.file}}
                                        {{#elements/file-downloader-component file=message.file as |isImage file items options|}}
                                            {{#if isImage}}
                                            {{!-- File is image --}}
                                                {{#photo-swipe items=items options=options as |img|}}
                                                    <i class="fa fa-eye" aria-hidden="true"></i> Preview attachment
                                                {{/photo-swipe}}
                                            {{else}}
                                            {{!-- File is not image --}}
                                                <a href="{{file.webPath}}" class="attachment-download" download="">
                                                    <i class="fa fa-download" aria-hidden="true"></i> Download attachment
                                                </a>
                                            {{/if}}
                                        {{/elements/file-downloader-component}}
                                    {{/if}}
                                </div>
                                <div class="username username-admin">
                                    <div class="img-holder">
                                        {{#if currentUser.user.baseImageUrl}}
                                            <img src="{{currentUser.user.baseImageUrl}}" title="Username">
                                        {{else}}
                                            <img src="../../assets/images/user-avatar.png" title="Username">
                                        {{/if}}
                                    </div>
                                    <h4>{{currentUser.user.fullName}}</h4>
                                </div>
                            </div>
                        {{else}}
                            <div class="user-comment">
                                <div class="username">
                                    <h4>{{message.sender.fullName}}</h4>

                                    <div class="img-holder">
                                        {{#if message.sender.baseImageUrl}}
                                            <img src="{{message.sender.baseImageUrl}}" title="Username">
                                        {{else}}
                                            <img src="../../assets/images/user-avatar.png" title="Username">
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="user-message clearfix">
                                    {{messages/message-single-item body=message.body}}
                                    {{!--<p class="single-message-content">{{message.body}}</p>--}}

                                    <span>{{moment-from-now message.createdAt hideSuffix=false interval=5000}}</span>
                                    {{#if message.file}}
                                        {{#elements/file-downloader-component file=message.file as |isImage file items options|}}
                                            {{#if isImage}}
                                                {{!-- File is image --}}
                                                {{#photo-swipe items=items options=options as |img|}}
                                                    <i class="fa fa-eye" aria-hidden="true"></i> Preview attachment
                                                {{/photo-swipe}}
                                            {{else}}
                                                {{!-- File is not image --}}
                                                <a href="{{file.webPath}}" class="attachment-download" download="">
                                                    <i class="fa fa-download" aria-hidden="true"></i> Download attachment
                                                </a>
                                            {{/if}}
                                        {{/elements/file-downloader-component}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    </article>
                {{/each}}

            </section>
            {{#if newMessagesDisplayToggle}}
                <div class="new-messages-alert">
                    <a {{action 'showNewMessages'}}>{{trans 'admin-messages.new-messages'}} <i class="fa fa-chevron-down"></i></a>
                </div>
            {{/if}}
        </section>
    </div>
    {{#unless disabledSendMessage}}
        {{#unless ticketSolved}}
        <div class="send-message-mobile">
            <form {{action 'sendMessage' on="submit"}}>
                <div class="input-group">
                    {{input type="text" value=messageBody class="form-control new-message-content" placeholder=(trans "admin-messages.enter")}}
                    {{#if fileTemp}}
                        <i class="fa fa-paperclip file-attached" {{action 'toggleAttachDropzone'}}></i>
                    {{else}}
                        <i class="fa fa-paperclip" {{action 'toggleAttachDropzone'}}></i>
                    {{/if}}
                    <div class="dropzone-holder" hidden={{hideAttachDropzone}}>
                        {{dropzone-one-file keepLocal=true addRemoveLinks=true maxFiles=1 onRemovedFile=(action 'removedFile') onAddedFile=(action 'addedFile') }}
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" disabled={{sendBtnDisabled}}>{{trans 'admin-messages.send.message'}}</button>
                    </span>
                </div>
            </form>
        </div>
        {{/unless}}
    {{/unless}}
</div>
{{#if isLoading }}
    <div class="loader-holder">
      {{inf-loading}}
    </div>
{{/if}}