{{#each model as |thread|}}
    <div class="conversation-item" {{action 'threadSelected' thread}}>
        <div class="img-holder">
            {{#if thread.otherParticipant.baseImageUrl}}
                <img src="{{thread.otherParticipant.baseImageUrl}}" title="Username">
            {{else}}
                <img src="../../assets/images/user-avatar.png" title="Username">
            {{/if}}
        </div>
        <div class="content">
            <h3 class="name">
                {{thread.otherParticipant.fullName}}
            </h3>
            <h4 class="subject"><strong>{{trans 'admin-messages.subject'}}:</strong> {{thread.subject}}</h4>
            {{!--<h5 class="content-text">{{thread.firstMessage.body}}</h5>--}}
        </div>
        {{#if (eq thread.id selectedThread.id)}}
            <div class="conversation-active"></div>
        {{/if}}
    </div>
{{/each}}