{{#if (eq currentUpdateType.key 'UPGRADE')}}
    <h1 class="main-heading">{{trans 'admin-agent.history.upgread.title'}}</h1>
{{else if (eq currentUpdateType.key 'DOWNGRADE')}}
    <h1 class="main-heading">{{trans 'admin-agent.history.downgrade.title'}}</h1>
{{else}}
    <h1 class="main-heading">{{trans 'admin-agent.history.suspension.title'}}</h1>
{{/if}}

<div class="row">
    <div class="col-md-6">
        <div class="form-group clearfix">
            {{inf-select
            optionLabelKey='name'
            _isShowingClear=false
            selected=currentUpdateType
            content=updateTypes
            on-change=(action 'updateTypeChanged')
            }}
        </div>
    </div>
</div>

<div class="table-option to1">
    {{table-view-component
    model=model
    colNames=colNames
    colModels=colModels
    page=page
    maxPages=maxPages
    offset=offset
    defaultSortType='desc'
    sortType='desc'
    editLink='dashboard.agents.agent-edit'
    filter=(action 'filterModel')
    }}
</div>