<h1 class="main-heading">{{trans 'admin-agent.history.upgread.title'}}</h1>
<label for=""> {{trans 'admin-agent.history.agent.not.choosen'}}</label>
<div class="form-group clearfix">
    {{inf-select
            optionLabelKey='email'
            selected = changeset.superior
            on-search = (perform search)
            on-change=(action 'agentSelected')
    }}
</div>
{{#if isLoading}}
    <<div class="loader-holder">
        <img src="../../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{else}}
    {{#if currentAgent}}
        {{user/user-timeline-component model = agentHistory agent = currentAgent }}
    {{else}}
        <div class="alert alert-danger" role="alert">
            {{trans 'admin-agent.history.agent.not.choosen'}}
        </div>
    {{/if}}
{{/if}}

